[2016-05-22 17:03] dcu opened #1 "Allow to select the fields that will be exported"
Similar to stripe's mosql.
In my case I don't want to export fields that contain sensitive data. For example PII data, keys, passwords, etc even if this data is hashed or encrypted.

[2016-05-22 17:18] rwynn commented on #1
I am planning to integrate the Otto embedded JavaScript engine which will allow you to specify a mapping function per collection in the TOML config file.  This will allow you to drop, add, and modify fields.  Should be done by end of week.

[2016-05-23 01:18] #1 closed

[2016-06-13 16:04] rwynn opened #2 "handle missing document data on replay"
When a replay is performed it is possible that a previous insert or update was followed by a delete.  In that case the document is no longer available in mongo.  This scenario should be handled by checking for nil Data on the gtm.Op.

[2016-06-13 16:06] rwynn opened #3 "add support for indexing GridFS content"
Version 1.0 only supports indexing file metadata from GridFS. It is possible to support indexing the actual file content if elasticsearch has an appropriate plugin installed such that the `attachment` type is made available.

[2016-06-13 16:09] #2 closed

[2016-06-13 16:09] #3 closed

[2016-07-27 15:22] amjustin13 opened #4 "Not seeing any activity on Elasticsearch when running Monstache"
Hello,

I am fairly new to Mongodb and ES and I appreciate any help with this. The problem I am having is that I don't see any activity in Elasticsearch when launching Monstache. It is connecting to Mongodb successfully and creating a database named "monstache".  I have followed the setup in the README file of the github page.

My first question is: I have quite a big amount of files in Mongodb th

[2016-07-27 18:10] rwynn commented on #4
The settings in your TOML file look correct assuming you want to copy over the gridfs files from the test2 database.  monstache uses the [oplog](https://docs.mongodb.com/manual/core/replica-set-oplog/) to determine changes to propagate.  When the replay is true as you have it, monstache replays all the operations in this collection (normally database `local`, collection `oplog.rs`).  Can you pleas

[2016-07-27 18:15] rwynn commented on #4
To your first questions, monstache does not need to be running while the data is imported.  However, you do need to make sure that the oplog gets populated during the import AND that the oplog is big enough to hold all the documents from your import (it is a capped collection).  In the case the import is done before monstache is run, then monstache must be run with the replay option as you have, o

[2016-07-27 18:17] rwynn commented on #4
Actually, I just noticed that your elasticsearch URL might be wrong.  You will want the URL to be to the REST API which is normally port 9200.

[2016-07-28 17:36] amjustin13 commented on #4
Hi @rwynn

Thank you for the quick response. I am still not getting anything on ES after trying what you mentioned.

First, I checked the oplog.rs collection to see how many documents it contained and it had about 36,000.

Then, I did a Mongodump and then a Mongorestore while running Monstache but nothing happened in ES.

I am checking ES by viewing the indexes created like so:
 `curl http://local

[2016-07-28 20:26] rwynn commented on #4
Do you see any activity in the elasticsearch log file?  Usually in /var/log/elasticsearch.

Here are a couple other things to look into:

make sure elasticsearch does not have automatic index creation turned off in the settings.  Check in elasticsearch.yml for a line like this `action.auto_create_index`  and make sure it is not false or that it is not set to a whitelist/blacklist.

try to index a

[2016-07-29 14:29] amjustin13 commented on #4
The Elasticsearch log file does not have anything more than the initial connection text. The log file does not contain information about indexes created for the Gridfs files when I run Monstache.

I ran the code you gave me to create an index and search it and it was successful. The logfile reflects these changes.

I also ran the program http_dump.go like you advised and it did run. For some time

[2016-07-30 02:57] rwynn commented on #4
The request logs from http_dump look OK.  I've just created a new release [v1.2](https://github.com/rwynn/monstache/releases) of monstache with better error reporting.  You will want to turn on the new `verbose` option in your TOML config file.  Hopefully this will give us some idea why the request is not reaching elasticsearch.

You mentioned being behind a proxy server.  Unfortunately, monstache

[2016-08-01 14:38] amjustin13 commented on #4
Hi @rwynn  thanks again for your quick response.

I was able to get some activity on ES by running this: `export http_proxy=""`

After setting the env variable, I ran ES and MongoDB and then Monstache and it appeared to be working correctly. It created the indexes in ES and I could see that the logs looked normal.

However... I ran into a memory problem and now I can't connect to ES. Here is what

[2016-08-01 16:44] rwynn commented on #4
This documentation about the ES [Heap](https://www.elastic.co/guide/en/elasticsearch/guide/current/heap-sizing.html) might be helpful.

You mentioned previously that you have lots of files in mongodb.  When you replay the oplog monstache is going to generate some sizeable bulk index requests to store those in ES.  You might want to try limiting how many documents are sent in a single bulk request.

[2016-08-01 17:20] rwynn commented on #4
As far as the ES startup exception is concerned you can check [Network Settings](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-network.html).

[2016-08-04 15:12] rwynn commented on #4
Hi @amjustin13

Were you able to resolve the startup and memory issues?

[2016-08-05 15:45] amjustin13 commented on #4
Hi @rwynn

I was able to resolve the startup problem. But after taking a couple of steps to try to fix the memory problem, I am still getting the out-of-memory error.

This is what I changed in elasticsearch.yml file:

[code]

I am able to run Monstache now after doing `export http_proxy=""` and I can see the activity in ES. However, after a while ES throws the out-of-memory error again.

Here is

[2016-08-06 16:06] rwynn commented on #4
Hi @amjustin13,

From the log it seems that at least one of your requests was greater than 1GB (1073741824 bytes).  How big are the files on average that you're indexing?  What types of files are these?

Did you try reducing the `elasticsearch-max-docs` to 1 or 2 in the monstache TOML config (requires the lastest version of monstache)?  You can also try reducing the gtm-channel-size to something v

[2016-08-10 13:03] amjustin13 commented on #4
My files are mostly just text/log files. I notices that I had some data in Mongo that did not belong that was creating the http request error, so I took those out and that error is no longer appearing.

I did reduce the `elasticsearch-max-docs` to 2 with the latest version of Monstache installed. I also reduced `gtm-channel-size` to 2.

I am still getting the `OutOfMemoryError: Java heap space`. I

[2016-08-10 15:20] rwynn commented on #4
Hi @amjustin13,

At this point since the issue you are facing seems to be specific to ES, it might be easier to ask some questions on the ES IRC channel and/or forums.  You might want to mention you are using the mapper-attachment plugin, the count of log files in mongodb, the [average](https://docs.mongodb.com/manual/reference/operator/aggregation/avg/) size of a log file, and your heap size conf

[2016-08-31 03:15] #4 closed

[2016-11-11 15:28] Crispy1975 opened #5 "Question on duplication"
Just started testing with monstache and so far very impressed. I have a quick question regarding duplicates; specifically how are MongoDB `_id` properties mapped to ElasticSearch, and how when a document in MongoDB is updated is the correct ElasticSearch document updated?

[2016-11-11 17:25] rwynn commented on #5
The default mapping is as follows:
[code]
Any operation on a mongo document (insert, update, delete) will be recorded in the oplog with it's _id and that will eventually be propagated into a bulk index command to ES where the id is specified as the _id in mongodb.

So I think you may be correct above the potential for collisions since mongo _ids are unique at the collection level (not guaranteed a

[2016-11-13 02:15] #5 closed

[2016-11-14 18:57] rwynn opened #6 "Otto Export function error always nil"
The Otto [Export](https://github.com/robertkrimen/otto/blob/master/value.go#L647) function never actually returns a non-nil error.  In addition to checking for error need to also check the return value to determine if an export error occurred.

[2016-11-15 04:08] #6 closed

[2016-11-15 16:58] rwynn opened #7 "Update docs on namespace regex"
When a database or collection is dropped the namespace for the event is the `database_name.$cmd` where `$cmd` represents a virtual collection.  If a regex is used to match namespaces, the drop will be ignored by monstache unless the `$cmd` type namespace is accounted for in the regex.

[2016-11-15 18:07] #7 closed

[2016-11-17 11:20] Crispy1975 commented on #5
Awesome, thanks. :+1:

[2016-11-18 23:39] rwynn opened #8 "ElasticSearch index and type rules"
Need to take into account ElasticSearch index and type name rules specified in [Issue 6736](https://github.com/elastic/elasticsearch/issues/6736) and update documentation accordingly.

[2016-11-19 02:16] rwynn opened #9 "More Efficient Encoding of Files"
The current implementation of `AddFileContent` copies the GridFS content to a buffer and then base64 encodes the buffer.  It is more efficient to encode while copying into the buffer.

[2016-11-20 13:18] #8 closed

[2016-11-20 13:18] #9 closed

[2016-11-20 18:52] rwynn opened #10 "Unchecked errors in AddFileContent"
Check error return values for Flush and Close in AddFileContent

[2016-11-22 15:12] Crispy1975 opened #11 "Allow scripts to drop documents"
We are loving the library so far and it's making life very easy replicating from MongoDB. Would be great to be able to use the scripts to conditionally replicate also. Let me explain, we have a pseudo delete option which is represented by a date field in MongoDB, if this field is present then the document is "deleted". The scripts in monstache must return an object according to the docs, but it wo

[2016-11-22 18:47] rwynn commented on #11
This is a really great idea.  It would be pretty simple to make the change you requested to honor a `null `or `false` as an ignore.  However, I will probably separate the filter function into a another function that is provided in the TOML config.  The reason is that if filter is a separate function I can pass the function to the tail code, ([gtm](https://github.com/rwynn/gtm) library) in this cas

[2016-11-22 19:26] Crispy1975 commented on #11
Sounds good to me, even better to not have too complex a script and the possibility of multiple filters for different indexes. :)

[2016-11-23 00:05] rwynn commented on #11
Actually on second thought it may be better the way you originally described :-). My thought is that the doc may initially come into monstache without the soft delete flag and would be indexed. Then an update adds the soft delete flag in mongo and the event comes across and is dropped in the filter which is wrong.  I think your approach handles this case while the filter commits the insert but ign

[2016-11-23 01:09] Crispy1975 commented on #11
This is true... we would have to remove a soft deleted document from the ES index anyway as I don't see a way to do that effectively in monstache without adding things that would pollute its purpose. Ultimately it's for replication into ES and not general document management.

[2016-11-23 22:13] #10 closed

[2016-11-23 22:13] #11 closed

[2016-12-20 17:13] Crispy1975 opened #12 "TLS Self-Signed Certs"
We are using Search Guard SSL to secure the transport and REST endpoints for our ES install. When starting `monstache` up what I guess is the Go ES client is expecting a validated cert, so it throws an error:

[code]

With the JavaScript client you can specify to accept non-validated certs, I guess this is possible with the Go client also? If not any idea where we would need to import the root CA

[2016-12-20 19:48] rwynn commented on #12
Can you try supplying the argument `elasticsearch-pem-file`

[code]

You would never know because I failed to document this.

[2016-12-20 20:58] Crispy1975 commented on #12
Will give it a go this evening.

[2016-12-21 10:28] Crispy1975 commented on #12
@rwynn it worked perfectly, thanks. Now replicating over TLS. :+1:

[2016-12-21 17:11] rwynn commented on #12
Great.  Just FYI you can put this in your TOML file or pass it as a flag on the command line.  Simple options work either way.  I will close this issue once I've added the docs for the mongo and elasticsearch pem file options.

[2016-12-22 12:51] Crispy1975 commented on #12
Thanks. Slightly off-topic, but relating to the config options. Does the syntax for the ES connection string as per the Go client remain the same in the TOML file?

`"https://user:pass@es01.example.com:9200", "https://user:pass@es01.example.com:9200", "...")`

[2016-12-22 15:17] rwynn commented on #12
The syntax is the same for the connection string in the TOML file or when passed on the command line.

According to

https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-node.html

It seems that all nodes know about one another and can forward requests appropriately.  So I'm assuming you can pick any one.

If you are using es5 and gridfs replication it seems it would be best to

[2016-12-22 16:16] rwynn commented on #12
Looked into this a bit more and the elastigo go client connection supports a Hosts array in addition to the connection string. Monstache is not surfacing the ability to set the hosts array currently.  I will take a look at putting this in. It would be an array of host names in addition to the connection string. Looks like elastigo then chooses a host from the pool based on some heuristics (previou

[2016-12-22 16:58] Crispy1975 commented on #12
We would be able to test this whenever it's available, have a few clusters running. :+1:

[2016-12-22 19:16] rwynn commented on #12
@Crispy1975 Are you looking for a copy of each index request to go to N hosts?  Or are you looking to configure a pool of hosts and each index request would go to one from the pool?

[2016-12-22 19:31] rwynn commented on #12
The best way to do multiple clusters I think would be to run a monstache process for each cluster.  For nodes within a cluster a single monstache process can send requests to a pool of nodes using the previously mentioned Hosts setting on the connection.  That would be a new config option.

[2016-12-22 20:04] #12 closed

[2016-12-22 22:33] rwynn opened #13 "Check length of ElasticHosts array"
Check length of array before accessing [0] when connection fails.

[2016-12-22 22:47] Crispy1975 commented on #12
Yeah, we are running different installs of `monstache` for each cluster to partition data. This works best for us.

[2016-12-22 23:03] rwynn commented on #12
Sounds good. If you are using the resume feature make sure to set the resume-name to something unique for each process (cluster) otherwise they will overwrite one another.

I need to fix an issue with using multiple processes combined with the resume feature combined with the multi-worker feature.  But that's probably not a combination you are using.

[2016-12-22 23:43] Crispy1975 commented on #12
Thanks for the heads-up with that, will be sure to make sure the `resume-name` is unique.

[2016-12-23 16:53] #13 closed

[2016-12-23 21:30] rwynn opened #14 "Misleading error message"
Error message text in TraceRequest should reference request not response.

[2017-01-05 14:12] Crispy1975 opened #15 "Question: Can more than one instance run reliably?"
We have our MongoDB replica set and our Elasticsearch cluster, initially we were going to run a single dedicate instance (Google Cloud) to run monstache. This got us thinking about failover etc. One instance is a single point of failure, so rather than run an instance we thought of running monstache actually on each ES node... 3 node ES cluster === 3 running monstache processes (one per node).

Ba

[2017-01-05 17:51] rwynn commented on #15
I think that would work generally.  You would obviously have more indexing load on your ES cluster because each monstache process would be indexing the same data.  Basically you would have 3 processes competing to replay an ordered set of events.  For a single document, a relatively lagging monstache process might undo a update that a faster monstache process had written  (go backwards in that doc

[2017-01-05 18:23] rwynn commented on #15
Another possible option would be to have 1 monstache instance with resume set to `true`.  If you could setup your cloud provider to detect if that instance went down and spin up another instance with the same configuration (resume `true` with same resume name) then the new process should resume indexing where the last one left off (by mongodb oplog timestamp).

You might be able to combine https:/

[2017-01-05 20:21] Crispy1975 commented on #15
Understood, thanks for the ideas. I think I might do something like a Node.js process on each box where they talk to each other and work out who's running. So there would only be one monstsche instance running, that way can use Node.js (or whatever) to make sure that only one prices is running and it's a master ES node too.

[2017-01-08 20:28] rwynn commented on #15
@Crispy1975

I made an experimental version of monstache that attempts to solve your problem.  I introduced a new configuration option (and flag) `cluster-name`.  When you set `cluster-name` to the same value for a set of monstache processes, the processes coordinate.  They do this by racing to insert a document in a special collection `monstache.cluster`.

Only one process will be able to success

[2017-01-08 20:30] rwynn commented on #15
[monstache.zip](https://github.com/rwynn/monstache/files/692436/monstache.zip)

[2017-01-08 21:41] Crispy1975 commented on #15
Wow, awesome. I will try this our first thing tomorrow morning (late here). Thanks!

[2017-01-08 22:09] rwynn commented on #15
Forgot to mention that when a process that was waiting to become master becomes the master it reads the last time stamp synced by the old master. So it doesn't lose documents indexed between the time a master goes down and the new one resumes.

[2017-01-09 04:24] hanjoyo opened #16 "mongo _id in integer format, inserted as scientific format in elasticsearch"
hello @rwynn, thanx for the great work :+1:
I have some issue regarding _id in mongodb being sync to elasticsearch using monstache

__________________________________________________
- [ ] an integer _id type in mongodb will be submited in a scientific format in elasticsearch
here attached the oplog and monstache verbose log:
__________________________________________________
[code]

_____________

[2017-01-09 16:38] Crispy1975 commented on #15
Right now having some issues with `monstache` running on one ES node. Using the following `toml` config (minus script stuff).

[code]

I have confirmed I can connect to both MongoDB and ES from the node using the PEM files. I've also tried with the `cluster-name` param removed and the last release. I suspect this is down to SSL with MongoDB (perhaps). I have a non-SSL MongoDB replicating to a TLS

[2017-01-10 02:02] Crispy1975 commented on #15
Definitely seems to be MongoDB based with this repeated over and over in the logs...

[code]

We're using self-signed certs for this RS, perhaps this might be the issue?

[2017-01-10 10:22] Crispy1975 commented on #15
@rwynn ok, ran a test, from the test ES cluster I tunnelled back from a node to my local machine and used the MongoDB install there as the source for replication. Connected fine and things seem to be doing what they should. This should mean that using ssl with a self-signed certificate is the problem... I figure it's the lines here:

https://github.com/rwynn/monstache/blob/master/monstache.go#L609

[2017-01-10 11:58] Crispy1975 commented on #15
This PR solves the certificate validation: https://github.com/rwynn/monstache/pull/17

[2017-01-10 18:45] #14 closed

[2017-01-10 19:07] rwynn commented on #15
@Crispy1975

Just released a new version with your PR and the clustering mode option.  It's strange that you had to turn on InsecureSkipVerify for it to work.  That TLS code for mongodb was shaped by this article https://www.compose.com/articles/connect-to-mongo-3-2-on-compose-from-golang/.  Is it possible that each of your mongo servers has a unique cert or that the pem was incomplete?

Anyway, l

[2017-01-10 19:12] rwynn commented on #16
@hanjoyo thanks for the kind words.  Hope this commit fixes the issue for you.  The id should now be inserted without scientific notation.  Any integer values within the document itself, { count: 28263935 }, seem to still be inserted in this notation, but from reading it seems that this is valid JSON to do so.

[2017-01-10 20:17] rwynn commented on #15
@Crispy1975

I did more debugging on the mongo TLS connection issue.  I think the problem may be related to the Common Name set on the certificate not matching the connection host name.  You may be able to fix the issue by regenerating the PEM file making sure that the Common Name set when creating the certs is the host name you will be connecting to.  Also it looks like you have multiple mongo se

[2017-01-10 20:28] Crispy1975 commented on #15
I am pretty sure it would be the CN causing it, as our connection string is with IP addresses, can make use off `/etc/hosts` to get that working ok.

Clustering seemed to work ok for me earlier when I tunneled to my local non-SSL MongoDB, just have to try them all together and all good. :)

[2017-01-12 03:13] rwynn opened #18 "ResumeWork should always call Resume"
gtm.Resume should always be called in ResumeWork even if there is no timestamp in mongo.

https://github.com/rwynn/monstache/blob/master/monstache.go#L451

[2017-01-12 15:03] Crispy1975 commented on #15
All working nicely here. Great stuff, thanks! :)

[2017-01-12 15:03] #15 closed

[2017-01-12 15:23] #18 closed

[2017-01-12 15:44] rwynn commented on #15
@Crispy1975 Great to hear it's working for you.  I just pushed a release to fix an edge case around cluster mode where a process resuming work for the cluster would remain paused.  This would happen if the cluster had never saved a timestamp and the primary went down.

[2017-01-12 16:07] Crispy1975 commented on #15
@rwynn Awesome, will grab that down. Thanks!

[2017-01-14 19:33] rwynn commented on #16
@hanjoyo

Did you insert these documents using the mongodb shell?  According to this link https://docs.mongodb.com/v3.2/core/shell-types/ the mongodb shell treats all numbers as floating point values.  Thus, when you use the shell and want an int you would wrap the number in `NumberInt()`.

[2017-01-14 19:53] #16 closed

[2017-01-17 02:51] hanjoyo commented on #16
hi @rywnn
sorry for my late reply
yes, your commit fixes my issue.
I used several ways to insert these documents: from mongo shell and also php code
thank you

[2017-02-17 10:53] asaf opened #19 "Is this library has high consistency?"
Hey,

Is this library assure that no docs are going to be missed ? does it retry / resolve failures such as when ES returns errors?

Thanks.

[2017-02-17 15:11] rwynn commented on #19
Documents are batched for indexing until one of your options fires: elasticsearch-max-docs, elasticsearch-max-bytes, or elasticsearch-max-seconds.  These options trigger a flush at which point a _bulk API request is made with those documents.  This request could fail (some or all of the documents not indexed).  If it fails and you have set elasticsearch-retry-seconds to a value > 0, that failed re

[2017-02-17 16:47] rwynn opened #20 "Improve Failure Handling"
Add a `fail-fast` option which, when true, exits the program immediately after logging the failed request when a _bulk request fails.

Also, add an `index-oplog-time` option which, when true, includes the date and timestamp from the oplog in the source document sent to elasticsearch.  This information is useful in general but specifically on failures to determine the timestamp to replay events fro

[2017-02-17 16:54] #20 closed

[2017-02-18 16:17] asaf commented on #19
Ryan,
thanks for the detailed answer,

I think it makes sense to add the `fail-fast` option to avoid repetitive errors when there is a constant failure on the ES service,

Regarding the `replay`, so in the case of missing docs due to errors, if I run monstache with the `replay` option once in a while, will it re-index the missing docs? will it update/skip existing docs or should the indices get wi

[2017-02-20 13:30] skyhit opened #21 "Mongo Replicate URL with SSL option Is Not Supported"
I used replicate url with `ssl=true`, then it reports

[code]

[2017-02-20 14:00] rwynn commented on #21
Can you try without that param? Just make sure you point to a pem file and set the validate pem accordingly.

[2017-02-20 14:09] rwynn commented on #21
Go Mongodb driver does not require ssl param. https://github.com/go-mgo/mgo/issues/84  Only custom dial function which will be triggered by pem file.

[2017-02-20 15:26] skyhit commented on #21
for official service like the MongoDB atlas， what pem file should be used?

[2017-02-20 17:31] rwynn commented on #21
Can you try creating a dummy pem file and then using that?  Code currently requires a pem file to connect via TLS.  But in case of Atlas a Pem might not be needed.

[2017-02-21 01:19] skyhit commented on #21
Hmm, I tried and I can see
[code]

but I didn't see the index created, any idea?

[2017-02-21 02:22] rwynn commented on #21
Do you know if the user connecting to Mongodb has access to the oplog?  For atlas it seems you would need to give permission to access local.

https://docs.atlas.mongodb.com/faq/#does-mongodb-service-expose-the-oplog

Once it can read the oplog you would need to insert new document in Mongodb for index to be created. Or you can use option replay=true to send what is already in oplog.

[2017-02-21 02:46] skyhit commented on #21
I tried with `replay=true` and `resume=true`, it did create the index and sync some documents, but not all, which is wired.

[2017-02-21 03:14] rwynn commented on #21
Do you have multiple shards?  I think I may need to make some fixes around this according to https://www.mongodb.com/blog/post/tailing-mongodb-oplog-sharded-clusters.

[2017-02-21 05:54] skyhit commented on #21
@rwynn no, just 1 shared.

[2017-02-21 20:48] rwynn commented on #21
@skyhit, what percentage of the documents was synced?  Do you have workers options set (this could cause only some to sync because in worker mode each worker does a share of the indexing)?  With -verbose flag you should see a log of each bulk request.  Do you notice any failures?

[2017-02-21 22:16] rwynn commented on #19
@asaf
when you run with `replay` it will re-attempt to index the docs, so docs that failed previously may succeed.  You can delete the indices in Elasticsearch but it's not necessary, the docs that were previously successful with be re-indexed with the same data.

A scenario that would not be fixed by `replay` would be a situation where you have 2 documents in a collection with a property of diffe

[2017-02-23 03:47] rwynn commented on #21
@skyhit, I tested today on Atlas and did not notice any document loss.  Just released a new version of monstache with SSL option so that you don't need to provide dummy PEM to connect to Atlas.  Closing this issue.  Please open a new one if you have additional problems.

[2017-02-23 03:47] #21 closed

[2017-02-23 03:47] #19 closed

[2017-02-23 04:07] skyhit commented on #21
@rwynn thanks, I will try with the new release.

[2017-02-25 16:38] rwynn commented on #12
@Crispy1975,
Just checkin in to see how things are going with monstache. Have you had any pain points using it? Any suggestions for improvements? Thanks.

[2017-02-26 20:04] Crispy1975 commented on #12
All good so far, we haven't seen any issues at this point. :)

[2017-02-28 20:58] asaf commented on #19
That's an accepted behavior :-)

[2017-02-28 21:43] rwynn commented on #19
@asaf,
In the next release  (shortly) there will be an option to specify a list of collections that you would like to copy directly from mongodb to elasticsearch.  This is different than the current situation which allows you to replay and then tail the oplog.  The direct sync option will read the collections themselves and not go through the oplog.  Since the oplog may or may not contain your ent

[2017-03-08 15:35] rwynn commented on #11
@Crispy1975,
Not sure if you would be interested, but just pushed a version of monstache that supports golang plugins as an alternative to JavaScript.  Docs for this new feature can be found at [Golang Middleware](https://rwynn.github.io/monstache-site/transform-filter/#golang)

[2017-03-21 11:02] Crispy1975 commented on #11
@rwynn really interesting! Reading it right now.

[2017-03-22 11:37] Crispy1975 opened #22 "Question: Document Patches"
Wanted to get a better understanding of how the various `PATCH` options work with `monstache`. We have turned on the `enable-patches` option to see if we can speed up operations some more (they are fast now, but more speed is always good :)

Does this option stop `monstache` from removing the ES document and then inserting a fresh copy by updating/patching the existing ES document?

[2017-03-22 16:11] rwynn commented on #22
@Crispy1975,

When `enable-patches` is set to true, monstache needs to do more work and would actually be slower.  Sorry if I was not clear enough with what that setting does.  When enabled, monstache will compare new or updated documents from MongoDB to the latest corresponding (by _id) document in Elasticsearch and create a merge patch document will the difference between the two.  Then, it will

[2017-03-22 16:16] Crispy1975 commented on #22
@rwynn thanks for the clarification. :+1:

[2017-04-30 17:46] rwynn commented on #22
@Crispy1975 just release monstache 3.0 which some major internal changes.  There are a couple of configuration changes with regards to Elasticsearch but nothing drastic.  Hopefully, this version will give you better performance.  Thanks!

[2017-05-15 12:06] Crispy1975 opened #23 "MongoDB opLog Error?"
Hey, we have seen this in our logs a couple of time:
[code]
I assume this is due to the `opLog` moving quick that `monstache` was able to catch the changes? Unless there is another possible explanation?

[2017-05-15 18:41] rwynn commented on #23
What is the size of the oplog?  You may want to increase it. It's a capped collection so old entries will be forced out by new at a certain point. Seems like monstache was possibly still processing older data that got truncated.

[2017-05-16 09:10] Crispy1975 commented on #23
The opLog size is the MongoDB default right now, but we perform a lot of updates which affects multiple documents, this will normally translate to a high number of opLog entries. My guess is that monstache isn't getting the time to scan them all before they are flushed.

[2017-05-16 22:24] rwynn commented on #23
@Crispy1975, do you know if monstache stops tailing the oplog after receiving this error?  If so, I can possibly make a change to log the error and continue processing if so.

[2017-05-16 23:35] Crispy1975 commented on #23
We're using it in the cluster mode, it seems to continue ok as the logs report that the process pauses and resumes, as do the other running instances on the other servers. It doesn't appear to be fatal.

[2017-05-17 02:34] rwynn commented on #23
I think the issue may be mitigated somewhat by cluster mode.  I'm not sure if a process that encounters this error will actually produce more events after it has encountered this error (even though it may appear in logs to resume).  To fix that I released a new version of monstache that includes an upgraded gtm library.  The gtm code that I think was problematic is this line:

https://github.com/r

[2017-05-17 08:37] Crispy1975 commented on #23
Thanks as always @rwynn we'll give the new version a go in out staging environments today. Will report back on findings. :+1:

[2017-05-19 11:45] miklosbarabas opened #24 "HA mode - MongoDB permissions"
Hi!

Im starting monstache with the following command:
`./monstache -cluster-name myHA -worker MyW1 -f my-config.toml`

And I receive the following error:
`panic: Unable to enable cluster mode: not authorized on monstache to execute command { createIndexes: "cluster", indexes: [ { name: "expireAt_1", ns: "monstache.cluster", key: { expireAt: 1 }, background: true, expireAfterSeconds: 30 } ] }`

Th

[2017-05-19 16:10] rwynn commented on #24
@miklosbarabas,

Thanks for using monstache and for your suggestions about documenting required permissions and corrections.

Monstache does require readWrite permission on the monstache db for the resume feature.  Additionally, it creates indexes on the cluster collection in this db when using the clustering mode (as you noticed).

Can you post a sanitized version of your connection string?  I ha

[2017-05-19 16:44] miklosbarabas commented on #24
@rwynn: thx for the quick reply!

Now I realized that this is happening because I created a separate DB for monstache (with the name monstache) but I was authenticating against the admin DB, and I had a different user for that db as well with the same user/pass, so I slipped over it.
Sorry for wasting your time:)

I close this ticket as it is not an issue.

[2017-05-19 16:44] #24 closed

[2017-05-22 12:06] miklosbarabas opened #25 "Bulk insertion timeout"
Hi!

I am running monstache with HA mode on, which goes fine for the first minutes, but then:

`ERROR 2017/05/22 13:59:53 elastic: bulk processor "monstache" failed but will retry: Post http://elastichost:9200/_bulk: net/http: request canceled (Client.Timeout exceeded while awaiting headers)
`

Seems like it cannot reconnect to the cluster. The elasticsearch log only shows that it was updateing, b

[2017-05-22 22:03] rwynn commented on #25
@miklosbarabas,
Did a quick test with
[code]
Ran 2 processes like that and it looked like when I killed one the other took over and was still able to connect and send bulk requests.

There is a currently hard code 10s timeout on the http client given to use for elasticsearch

https://github.com/rwynn/monstache/blob/master/monstache.go#L1101

I'm not sure if that's the problem or not.  Do you also

[2017-05-24 23:08] rwynn commented on #25
@miklosbarabas,

Just published new version with configurable timeout.  Defaults now to 60 seconds.

[2017-05-25 05:56] asaf opened #26 "Expose DirectReadNs through a cli option"
Hey,

@rwynn could please add the `DirectReadNs` to `ParseCommandLineFlags`  as it's currently not exposed,

Thanks :-)

[2017-05-26 18:24] miklosbarabas commented on #25
@rwynn

Sorry for the late response, and thank you for your fast reaction and for the new release!

Some additions for the scenario:
Using ES 2.4.4 with 3-5 nodes in the cluster, and running monstache on the node boxes (3 workers / node) the above mentioned error occurred regardless of resources (tho it started to happen earlier on smaller AWS T2 boxes)
The following configurations were used:
[cod

[2017-05-29 12:06] miklosbarabas commented on #25
@rwynn I have some other questions, hope you don't mind if I put them down here as well:

- Any idea why the direct-read-namespaces phase sometimes slows down that much, that it is inserting 1-2 indices/s only? (these times, the stats shows that 1-2 indices are queued)
- Checking the monstache.monstache collection in Mongo, sometimes the worker ts field is being updated in a strange way: hopping b

[2017-05-31 19:52] #26 closed

[2017-05-31 20:13] rwynn commented on #25
@miklosbarabas,
can you explain a little more about slow down you are seeing?  I tried direct reads on 3 mongo collections with 100K documents each, and monstache indexed them in 30 seconds.  You can try timing this with a command like:
[code]
I pushed a new release which should solve the ts field in the monstache collection. This was because it was recording timestamps from direct reads which it

[2017-06-01 18:10] miklosbarabas commented on #25
@rwynn
Thx for the new release!

It is happening after around the same amount of documents indexed, which is ~3 million and only happening for this collection which is ~6 million.
MongoDB metrics are fine as well as the ES metrics. No errors in the logs.

Tried to run only one monstache, non-worker and non-HA mode, just to direct-read the data and set to exit when it's done.
Experienced the same s

[2017-06-01 18:28] miklosbarabas commented on #25
Also after enabling `index-oplog-time` I see these in the trace:
`"_oplog_date":"1970/01/01 00:00:00","_oplog_ts":0`
for all the indices.

[2017-06-01 19:38] rwynn commented on #25
The oplog-time is not always available for direct reads.  If the _id of the document is an ObjectID then it can be determined, because of the nature of ObjectIDs.  If not, the timestamp will just be 0.

https://github.com/rwynn/gtm/blob/master/gtm.go#L465

[2017-06-01 19:40] rwynn commented on #25
My current guess is that the slowdown may be occuring because of the nature of the direct read query.  It uses a $natural sort which might not be optimal.  I can try to change this to an _id sort to see if it then uses the index to speed things up.

https://github.com/rwynn/gtm/blob/master/gtm.go#L448

[2017-06-01 19:46] miklosbarabas commented on #25
I could give it a try straight away if you release one based on the _id sort!

[2017-06-02 01:57] rwynn commented on #25
@miklosbarabas, just pushed a new release.  Give that one a try and let me know if the problem persists. Thanks for reporting this issue.

[2017-06-02 07:05] miklosbarabas commented on #25
@rwynn did you push? somehow i don't see any related change in the last commits:(

[2017-06-02 12:53] rwynn commented on #25
The new release includes an updated version of the github.com/rwynn/gtm library. That is where the changes related to the slowness issue were made.

[2017-06-03 02:43] rwynn commented on #25
@miklosbarabas, any luck with the latest release?

[2017-06-03 02:43] #22 closed

[2017-06-03 16:13] miklosbarabas commented on #25
@rwynn: with the new release, the missing ~1million doc got inserted
properly, didn't experience the slowdown.

Thanks for all the help!!!

On Jun 3, 2017 04:43, "Ryan Wynn" <notifications@github.com> wrote:

@miklosbarabas <https://github.com/miklosbarabas>, any luck with the latest
release?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<htt

[2017-06-03 21:57] rwynn commented on #25
Glad to hear it helped. You might be able to squeeze out a little more performance with the workers option and multiple processes. That will increase, by a multiple of N workers, the overall query load on MongoDB but will decrease the Elasticsearch indexing load of each process by N-1/N . Depending on how well Mongo can handle the queries it might give you a boost overall.

[2017-06-05 07:53] asaf commented on #26
Awesome, thanks.

[2017-06-05 17:21] rwynn commented on #23
@Crispy1975 lots of improvments in 3.0.6 with regards to direct-read performance.  A daily, or slightly more often, run of monstache with direct reads and exit-after-direct-reads can catch up in situations where the oplog position is being lost.  The only caveat at the moment is if you are using json merge patches.  Direct reads currently reset merge patches which may not be want you want.

[2017-06-12 08:13] Crispy1975 commented on #23
@rwynn we decided not to use the patches in the end, so this could work well for us. :+1:

[2017-06-21 14:23] Crispy1975 opened #27 "Upgrading to 3.x results in broken ES client"
Hi @rwynn

We attempted to upgrade to `3.0.6` and ended up with problems connecting to our three node ES cluster (5.2.2 with TLS using Search Guard SSL). The error output is:

[code]

I then tried the last `2.x` release which uses the old Go client, this worked perfectly, then stepped forward to the `3.0.0` release and was met with the same error output as above. So there is something relating to

[2017-06-21 14:24] Crispy1975 commented on #23
Closing this one out, but referencing the new issue here: https://github.com/rwynn/monstache/issues/27

[2017-06-21 14:24] #23 closed

[2017-06-21 14:46] Crispy1975 commented on #27
Also on investigating the ES logs we see the following:
[code]
I think that shows that the issue is the new `Elastic` Go driver not communicating with an TLS enabled cluster.

[2017-06-21 18:01] rwynn commented on #27
@Crispy1975, check the new client options in 3.0.  Mostly the same but elasticsearch url config is changed to accomodate golang driver change in monstache.

https://rwynn.github.io/monstache-site/options/#elasticsearch-urls

[2017-06-21 20:43] #25 closed

[2017-06-22 09:08] Crispy1975 commented on #27
No dice. I had already tried setting the URLs to an array, but did it again to be sure I hadn't made a mistake, this is what I have:
[code]
The hosts are in the `/etc/hosts` on the box `monstache` is running from and I've checked connectivity, can also `curl` ES no problem. So network is up and fine, but still getting the same error.

I also compiled a version with sniffing set the `true` and that

[2017-06-22 11:48] rwynn commented on #27
Can you try adding the s to the end of elastic-url in config? So elastic-urls.

[2017-06-22 14:08] Crispy1975 commented on #27
[code]

[2017-06-22 16:20] rwynn commented on #27
Looks like the driver does not auto detect the scheme. Can you do a local build of Monstache and set the scheme on the Client to https?
https://github.com/olivere/elastic/blob/release-branch.v5/client.go

[2017-06-22 17:10] rwynn commented on #27
Also try reverting the sniff enable you changed

[2017-06-23 09:50] Crispy1975 commented on #27
@rwynn perfect, that build with the client set to `https` is working for us (also reverted the sniffing change). Will put the build through it's paces in our staging environments and see how things go under load there. :+1:

[2017-06-25 15:01] rwynn commented on #27
@Crispy1975, just pushed a new release to fix the `https` scheme problem.  Please let me know if you find any issues with this release.

[2017-06-25 18:41] Crispy1975 commented on #27
@rwynn thanks, well test it first thing in the morning and feed back.

[2017-08-10 16:45] rwynn commented on #27
@Crispy1975, is it OK if I close this issue?  Any improvements under load from 3.x?

[2017-08-16 23:12] Crispy1975 commented on #27
@rwynn yes I believe we are seeing improvements. We have also upgraded our infrastructure that MongoDB is running on which gives a boost but I think we are seeing better throughput from `monstache` also. All good. :tada:

[2017-08-17 00:08] #27 closed

[2017-10-08 13:26] asaf opened #28 "systemd support"
Hey,

It might be useful to integrate with systemd to increase reliability of monstache,

Could use github.com/coreos/go-systemd

It is require to send a `READY=1` event to systemd upon service instantiation (somewhere in main(), check this [link](https://vincent.bernat.im/en/blog/2017-systemd-golang))

It could be nice to integrate with the watchdog and send `WATCHDOG=1` if `daemon.SdWatchdogEnab

[2017-10-10 16:12] rwynn commented on #28
Thanks, I'll take a look at getting this in.  What would you like to see as the criteria for notifying the WATCHDOG?  Just always send it at half the returned interval?

[2017-10-14 08:16] asaf commented on #28
@rwynn Awesome, well, I don't think it's necessary to add a param for this (Monstache has enough already:)) this is the recommended value, or /2 or /3 of the interval

[2017-10-14 23:26] rwynn commented on #28
@asaf actually I wasn't suggesting adding new params.  I was wondering if any criteria should be checked before sending the WATCHDOG.  Otherwise, it will just send it regardless of whether or not any actual documents are being synced.  It will simply mean that the process is still alive.

[2017-10-19 16:49] asaf commented on #28
This is the idea, to ensure that the process is alive :-)

[2017-10-19 17:15] rwynn commented on #28
If you are happy with it as is then that's cool.  This is the part of the link that you sent me that had me thinking about additional checks:

I was thinking maybe there was something related to the core business of Monstache that could be added.

[2017-10-20 09:43] asaf commented on #28
@rwynn Maybe after pinging ES/Mongo but I assume this is more complicated.

[2017-10-20 10:07] asaf opened #29 "collection drop is filtered with namespace-regex"
Hey,

I can't make Monstache drop an index that corresponds to a dropped collection when `namespace-regex` is enabled,

I have in Mongo a db named `test` with collection name `foo` using this config:

`namespace-regex = "^test.(foo|$cmd)$"`

(btw I came across [this issue](https://github.com/rwynn/monstache/issues/7) but the docs are gone)

Any clue what's wrong?

Thanks.

[2017-10-20 10:16] asaf commented on #29
Ah, $cmd needs to be escaped.

[2017-10-20 10:16] #29 closed

[2017-10-23 21:47] #28 closed

[2017-11-10 12:37] cmosgh opened #30 "How to check for liveness on a k8s pod"
I find monstache to work amazingly fast and scaling it in a kubernetes cluster seems easy but what I can't find documented is how to check if monstache is still running to kill/respawn a pod for it.

Did I miss that in the documentation at https://rwynn.github.io/monstache-site ?

[2017-11-10 19:51] rwynn commented on #30
Hi, thanks for using monstache.  I'm not too familiar with kubernetes yet, but I recently added support for systemd to monstache.  After you set this up you should be able to use the following command to see if monstache is alive (returns 0 if running, non-zero otherwise)

`systemctl --quiet is-active monstache.service`

Setting up systemd is documented at https://rwynn.github.io/monstache-site/sy

[2017-11-13 07:40] cmosgh commented on #30
So the idea in [kubernetes](https://kubernetes.io/) that you'll create a Docker image and place your running service inside. In order to make sure your service is running kubernetes checks at specified intervals if the service is still up and if not stops and then restarts a new pod with the service.

One way to do this is make your service respond to a simple http call with 500OK on a specified p

[2017-11-13 20:05] rwynn commented on #30
Thanks, that makes sense.  I should have something to commit for this shortly.  I'll use this as a template: https://github.com/kubernetes/kubernetes/blob/master/test/images/liveness/server.go

[2017-11-13 22:00] rwynn commented on #30
Just added a commit for this. Please let me know how it goes.

[2017-11-14 06:49] cmosgh commented on #30
I forked it and patched a much simpler non configurable version for my needs
Will also try this commit

Also I've created a Dockerfile for a basic containerization. Not pushed yet tho. Still cluster tests are in progress.

[2017-11-18 18:28] bmin opened #31 "Support parent-child relationships"
I was playing with this tool, work just fine. Was looking for a way to make parent-child relationships. Do you have any plan to provide support for parent-child relationships?

[2017-11-20 18:24] rwynn commented on #31
Thanks, I will take a look at making this happen.

[2017-11-20 21:59] rwynn commented on #31
I've added initial support for this but not added to the docs yet.  For now you would need to build yourself and use javascript or a golang plugin to accomplish parent-child.
If you follow the example at https://www.elastic.co/guide/en/elasticsearch/guide/current/parent-child.html then a javascript snippet to for parent-child would look something like this:

[code]

Your mongodb docs would need to

[2017-11-20 22:16] rwynn commented on #31
Btw snippet above will use index test.company instead of simply company. You can override the index in monstache or add your mapping’s to test.company index instead of company.

[2017-11-20 22:55] rwynn commented on #30
@cmosgh, how's this working out for you?  Thanks.

[2017-11-21 11:25] bmin commented on #31
Thank you for replying prompt action; I made bit of a hack to serve my purpose; but certainly I will follow your propose way to achieve this. I will grab and test it; and will let you know :)

[2017-11-22 19:55] bmin commented on #31
@rwynn : Thank you, I have tested it today, worked as expected. Closing the issue.

[2017-11-22 19:55] #31 closed

[2017-11-26 23:22] #30 closed

[2017-11-27 10:14] cmosgh commented on #30
Sorry about the late reply, we had some serious issues with the cluster. Still didn't get the time to run this version.
Will get back as soon as possible

[2017-11-27 11:46] rwynn commented on #30
No problem. Just let me know if it’s still an issue when you get to it.

[2017-12-14 03:54] remotejob opened #32 "elastic.v6?"
Is planned make support for elastic.v6? If so, about when?

[2017-12-14 04:31] rwynn commented on #32
Is there a feature of elasticsearch 6 that you would like to see?  Is there any problem running this as is against elasticsearch 6?  Thanks.

[2017-12-14 06:15] remotejob commented on #32
I am not tried yet, as well I am not tried with ES5.0.
But I make a note:

elastic "gopkg.in/olivere/elastic.v5"
in yours code

I think must be
elastic "gopkg.in/olivere/elastic"

You have installed Elasticsearch 6.0.0 and want to use Elastic. As listed above, you should use Elastic 6.0.
import "github.com/olivere/elastic"

[2017-12-14 21:43] rwynn commented on #32
@remotejob,

I have tested today with ES 5 and 6 and both work fine with the current monstache.  I was able to run monstache's go test program successfully and also use the gridfs feature to index attachment content.

Monstache uses only a subset of the Elasticsearch API via the REST interface (most importantly the _bulk endpoint) to index documents.  It turns out that this interface has not chang

[2017-12-15 03:17] remotejob opened #33 "elastic "No processor type exists with name [attachment]""
My first tentative was unsuccessful probably lack Ingest attachment plugin ?

I tested on 6.1 and as well on 5.6.5

 curl localhost:9200/_cat/plugins?v

name    component         version

[code]

[code]

[code]

[2017-12-15 03:59] rwynn commented on #33
Have you followed these instructions yet?

https://rwynn.github.io/monstache-site/gridfs/
https://www.elastic.co/guide/en/elasticsearch/plugins/current/ingest-attachment.html

`sudo bin/elasticsearch-plugin install ingest-attachment`

Did the plugin install successfully?

[2017-12-15 04:07] rwynn commented on #33
You're most likely gonna want to comment these out.
[code]

[2017-12-15 14:50] rwynn commented on #33
Also, just to be clear, monstache only requires the ingest-attachment plugin when file content indexing is enabled in the config.

If you change the following to false monstache will not attempt requests requiring ingest-attachment.
[code]
Depending on your needs you may need that to be true and to have installed the ingest-attachment plugin on all ES nodes.

[2017-12-18 12:20] cmosgh commented on #30
Hi there Ryan,
Eventually reached the point of wanting to change the version to one of yours.
The problem is that with the latest src I can't build. I keep getting
`./monstache.go:575:10: unknown field 'Session' in struct literal of type monstachemap.MapperPluginInput
./monstache.go:598:13: output.Parent undefined (type *monstachemap.MapperPluginOutput has no field or method Parent)
./monstache.go

[2017-12-18 13:03] cmosgh opened #34 "Make monstache reuse its stats indexes."
I am having an issue with the way new instances of monstache after spawning will create new stats indexes.

I can already find lots of indexes created by monstache in ES

This is my config.toml file
[code]

Is there any way to avoid the creation of multiple stats indexes or maybe clean them up automatically?

[code]

[2017-12-18 13:20] rwynn commented on #34
I’ve used curator to manage clean up of indexes with success. https://github.com/elastic/curator

I think cleanup is maybe out of scope for monstache. Index per day is a pretty standard practice.

[2017-12-18 13:27] rwynn commented on #34
I can make it possible that the date suffix is not added so that only 1 index is produced. But this is usually not how it’s done with logs since you usually want chunks such that you can delete old data without deleting current data.

[2017-12-18 13:57] cmosgh opened #35 "Can't build new version"
Hi there Ryan,

I want to thank you again for this amazing tool.
I have an issue tho

Can't build the latest source. I need a standalone linux binary to be able to run it in a basic Docker image without anything else.

[code]

Am I doing anything wrong?

Thanks!

[2017-12-18 14:04] cmosgh commented on #35
Even when I try with
`CGO_ENABLED=0 GOOS=linux go build -a -installsuffix cgo -o main .`
It just fails with the same error

[2017-12-18 14:16] rwynn commented on #35
I usually do a go get github.com/rwynn/monstache then go into the src folder and run make all. This ensures folders are on go path.

[2017-12-18 14:17] rwynn commented on #35
Make that go get -u ...

[2017-12-18 14:53] rwynn commented on #35
So, I just tried this and was successful with an initially empty $GOPATH

[code]
Binaries then found in the `$GOPATH/src/github.com/rwynn/monstache/build` folder

[2017-12-18 14:55] cmosgh commented on #35
Yes, you are correct.
Already built it and there is a Docker image from it and tested to work [here](https://hub.docker.com/r/cmos/monstache)

Thank you

[2017-12-18 14:58] cmosgh commented on #34
I don't think is needed, thanks for the curator tip! 👍

[2017-12-18 15:23] rwynn commented on #35
Great, glad you got it working and thanks for publishing that docker image.  I'll have to check it out.

[2017-12-18 15:38] rwynn commented on #34
No problem.  I used index per day since logstash uses that same approach by default and tools like curator have support for managing indexes (e.g. deleting, closing) using an age filter.  The age filter can either pull the age from the index name or from the index metadata.

I do think with a small change I can incorporate more flexibility by making the monstache stats index name pattern a configu

[2018-01-04 10:25] battle-mage opened #36 "Mongo Shards Support"
Hello. We are looking for a tool to synchronize our mongoDB to Elastic. But we have sharded collections and we are using MongoS.
We have a workaround that we use in branch(mongos-support) at our fork(kolesa-team) now (https://github.com/kolesa-team/monstache/tree/mongos-support), but it's quite dirty.

Do you plan adding MongoS support to Monstache?

[2018-01-05 16:18] rwynn commented on #36
Hi, thanks for trying monstache.  I'll take a look at adding this.  I think I will need to add code at a fundamental level (in the gtm library that monstache uses) to support this cleanly.

[2018-01-05 18:05] rwynn commented on #36
Just added a commit that adds the `enable-shards` config option.  Please let me know how that goes.  Much of the change went into the gtm library used by monstache.

[2018-01-05 23:28] rwynn commented on #36
Just added a few more changes.  You should use the `config` server url for the monstache connection URL and then make sure that `enable-shards` is turn on.  Use the `verbose` config to make sure it's picking up the shards.

[2018-01-06 11:23] battle-mage commented on #36
Thank you for the quick reaction! We will try it out next week, then I will give a feedback.

[2018-01-07 23:34] rwynn commented on #36
Just realized I still have some work to do as the logic is a bit off. Currently it will work for the most part but monstache state updates and queries inside JavaScript or Golang plugins will go against the mongo config server session instead of to the mongos session.

I will need to refactor such that mongo-url is the URL to mongos and a new arg mongo-config-url is the URL to the config servers.

[2018-01-08 20:50] rwynn commented on #36
I've refactored now to the point where I think it makes sense.  I've removed the `enable-shards` option.  Now, when working with a sharded cluster you would run as follows:

[code]
The config server URL is a trigger to retrieve the shards and start syncing on all of them.  Writes of monstache state data and reads inside Javascript or Golang plugins occur on the mongos connection.

[2018-01-09 22:12] rwynn commented on #36
@battle-mage I've just added a commit that also listens for new shards added the cluster.  Previously, monstache would only read the shards once.  Now it also tails the config server to discover and incorporate shards when they are added to the cluster so that a restart of monstache is not necessary.

[2018-01-10 21:35] #34 closed

[2018-01-10 21:36] #35 closed

[2018-01-23 12:04] battle-mage commented on #36
Hello, sorry for the late response, we weren't able to test it for a while.
Thank you for your work, looks like monstache now supports shards accordingly, but we faced another problem, when we do a lot of operations in Mongo in a short period of time.
We faced next situation:
When Monstache is configured to keep more than 1 connection to ElasticSearch (elasticsearch-max-conns is NOT 1)
1) a docume

[2018-01-23 17:30] rwynn commented on #36
@battle-mage  thanks for getting back and the new issue report.  I'll close this sharding issue and create another one for the concurrency issue.  I think it should be solvable via the `version` attribute and external versioning via `version_type`.  It will look a little strange as the version numbers will be MongoDB timestamps from the oplog which are 64 bit numbers.  But it should solve the issu

[2018-01-23 17:30] #36 closed

[2018-01-23 17:47] rwynn opened #37 "index ordering issue with elastic max-conns greater than 1"
If the bulk indexer is configured with more than 1 connection to Elasticsearch via `elasticsearch-max-conns` (the default is 10), it is currently possible for an insert followed quickly by an update to the same document to be applied out of order since the operations may end up in different bulk indexing requests (separate connections).  This results in a discrepancy between what is in MongoDB and

[2018-01-23 17:48] #32 closed

[2018-01-23 17:48] #33 closed

[2018-01-23 21:23] rwynn commented on #37
@battle-mage I've just now published a new release which hopefully should fix this issue.

[2018-01-24 04:46] battle-mage commented on #37
Thank you for fast reaction!
I did not test the code yet, but when I'm looking at changes - I see that you use only timestamp itself. As we noticed - mongo uses timestamp accurate to 1 second, but if we use this timestamp - issue with document updated twice in a period of 1 second still exists.
As I noticed - mongo stores timestamps in format Timestamp(X, Y), where X - is the timestamp and Y - is

[2018-01-24 12:29] rwynn commented on #37
@battle-mage I think the [MongoDB Timestamp](https://docs.mongodb.com/manual/reference/bson-types/#timestamps) already accounts for the counter within a second in the ordinal bits.  Unless I am missing something, if two events where recorded to the oplog within the same second, they would both have the same `time_t` component of the timestamp, but the 2nd event would have a higher `ordinal` compon

[2018-01-25 12:54] battle-mage commented on #37
We've been testing the last changes with some stress testing and looks like everything syncs just as it should. Versioning works fine :) Think we can close this issue, thanks for your work!

[2018-01-25 15:56] rwynn commented on #37
Thanks for bringing up this issue as well as the lack of support for sharded clusters.  That was a pretty significant gap that has now been filled.  I appreciate your contributions!

[2018-01-25 15:56] #37 closed

[2018-01-26 12:57] hassen2017 opened #38 "synchronize data from MongoDb to ElasticSearch"
Hi,
I m new in ES and i want  synchronize data from MongoDb to ElasticSearch
I have followed the steps in https://rwynn.github.io/monstache-site/start/
this is my config.toml :

``
gzip = true
stats = true
index-stats = true
mongo-url = "mongodb://localhost/testdb11"

elasticsearch-urls = ["http://localhost:9200"]

elasticsearch-max-conns = 10

dropped-collections = true
dropped-databases = true
r

[2018-01-26 14:26] rwynn commented on #38
@hassen2017 thanks for trying monstache.

First, you will want to make sure that your settings for `namespace-regex` and `namespace-exclude-regex` do not match.  The former is what your want to include in sync and the latter is what you want to exclude from sync.  In the case above you are excluding documents from the `testdb11.commentaires` collection which I'm pretty sure is not what you want.

[2018-01-28 10:23] hassen2017 commented on #38
@rwynn thanks for your response  that's helped to understand the concepts

I have cloned and installed  git://github.com/mobz/elasticsearch-head.git and I succeeded to see my data into the  Cluster Overview

[2018-01-29 14:42] 3JIou opened #39 "reconnect to mongos and elasticsearch"
looks like if service lose connect to mongos (sharding cluster) it's wan't restore it
`ERROR 2018/01/29 20:39:04 Unable to save timestamp: Closed explicitly`
`ERROR 2018/01/29 20:39:04 Closed explicitly`
but I can connect to mongos

[2018-01-29 16:44] rwynn commented on #39
hi thanks for reporting this.  do you happen to use plugins either javascript or golang?  Usually, when I kill the server and try to access it I get the error, io.EOF, which prints as "EOF".   I can try to detect these scenarios and refresh the connection.  However, this looks different in that the error is "Closed Explicitly" which sounds to me like maybe the use of a plugin is involved in the ro

[2018-01-30 02:44] 3JIou commented on #39
yes, i get the error "EOF", sometimes.

[2018-01-30 03:07] 3JIou commented on #39
one more strange thing, if I start monstache with parameters "verbose", I got see this:
[code]

and moustache will be stopping, but if I press any key:
[code]

[2018-01-30 04:33] rwynn commented on #39
The workers output looks like the stats which are described [here](https://github.com/olivere/elastic/blob/release-branch.v5/bulk_processor.go#L183)

As far as the connection loss, can you please do a fresh install from latest in master using

[code]

I've made some changes just now which may help with reconnection.

[2018-01-30 05:10] #38 closed

[2018-01-30 05:53] 3JIou commented on #39
I have one more questions about logs:
`ERROR 2018/01/30 11:47:24 TypeError`
what's is mean?

[2018-01-30 14:23] rwynn commented on #39
Regarding the `TypeError` message, I have not seen that before.  And the message doesn't give us a lot of context to go on.   Did you configure custom javascript or go code?

Regarding stats, Failed: 2901 means that 2,901 requests to Elasticsearch have failed from the current Monstache process.  These would be bulk requests so each request may contain more than one document for indexing.  The stat

[2018-01-31 05:10] 3JIou commented on #39
Yes, I use custom javascript. One more question, sorry, but I have use this service in my project and I need to know - how to get more info about TypeError?

[2018-01-31 05:27] rwynn commented on #39
If you remove the Javascript do you still get the `TypeError`?  If you only get the error with the javascript, can you post it here so that maybe I can determine the problem?

I think a TypeError would occur when, for example, you called a method on null, or called a method that doesn't exist.  e.g. null.anything() or "abc".doSomething().
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Ref

[2018-01-31 14:33] cmosgh commented on #39
hi @rwynn
I sometimes get the same issue and I see @olivere already merged the PR.
Any chance you can build a new version with that included
I would then update the docker image also

[2018-01-31 14:40] olivere commented on #39
@cmosgh No, I didn't? I think I need to look into the details first.

[2018-01-31 14:42] cmosgh commented on #39
@olivere
Thought since tests were passed you did. My bad

[2018-01-31 15:14] 3JIou commented on #39
thank you for your help

[2018-02-01 10:16] hassen2017 commented on #38
Hello @rwynn
I used Kibana to visualise the data indexed to elasticsearch & I was runnig Monstache with this cmd in Ubentu 16.4 : ./bin/monstache -f config.toml  --verbose
But i cannot visualise the data in realTime when i make changes to MongoDB
Please what can I doing for that  ?

[2018-02-01 17:18] rwynn commented on #38
@hassen2017

Please read the info at https://www.elastic.co/guide/en/kibana/current/discover.html

You will want to make sure you have configured a valid index pattern in Kibana for the data you want to view.  For example if you wanted to view the Mongo data from the database `test` and the collection `users` you would set the index pattern in Kibana to `test.users`.  When you type the index patte

[2018-02-06 18:27] mattful opened #40 "elasticsearch 6.x support"
Any plans to support Elasticsearch 6.x?

[2018-02-06 20:53] rwynn commented on #40
Hi, please see this issue.  https://github.com/rwynn/monstache/issues/32.  Is there something about Elasticsearch 6.X that is not already supported?

[2018-02-06 22:40] mattful commented on #40
Sorry... missed that. It answers my questions. Thank you.

[2018-02-06 22:40] #40 closed

[2018-02-06 23:03] rwynn commented on #40
No problem.  Since it's been asked a couple of times now I'm wondering what might be prompting this question.  Is it just the lack of it being stated explicitly in the docs?  Thanks.

[2018-02-07 05:10] mattful commented on #40
Yep. I was looking around for any confirmation in in the docs. The mongo
connector was broken by ES 6 with the change to single mapping type. Also
noticed that the code was still importing v5 of the olivere/elastic
library. But you addressed both those concerns over in the other issue.

On Tue, Feb 6, 2018 at 6:03 PM, Ryan Wynn <notifications@github.com> wrote:

[2018-02-08 04:45] rwynn commented on #39
@cmosgh I just pushed a new 3.6.0 release that you can use to update the docker image.  This includes some fixes for lost connections while we wait for the elastic PR to be reviewed.  I switched the import over to my fork temporarily.

[2018-02-09 13:03] timansky opened #41 "syslog/graylog"
it will be nice to have ability to send logs to remote server with different verbose level

PS
while launched with verbose=true, indexing speed is very slow

[2018-02-09 14:28] rwynn commented on #41
I thought about having the ability to send the logs to Elasticsearch just like there is an option to send stats to Elasticsearch.  I might implement that at some point.

The verbose option is mainly there so that you can debug/verify the trace log of bulk requests to Elasticsearch.  It might be a lot of data depending on the size of your documents.  I would not enable this option in production.

I

[2018-02-09 19:31] timansky commented on #41
i think gelf mo reliable/universal protocol

yeah verbose is slow when stdout, my use case is docker container
it sends logs to stdout and then docker redirects it to graylog(gelf protocol)

[2018-02-09 20:14] rwynn commented on #41
It logs errors no matter what.  I only logs the entire request/response trace when verbose is on.  You probably should turn verbose off in your container and just use gelf for errors.

[2018-02-09 21:45] rwynn commented on #41
@timansky just added release 3.6.1 to help out a little bit hopefully.  You can force test of this error logging by inserting documents with incompatible types.

`
db.test.insert({foo: 1});
db.test.insert({foo: "abc"});
`
With this enabled you should be able to safely turn off verbose and still get enough info to determine what went wrong.

[2018-02-12 03:03] timansky commented on #41
thanks, will test.

PS
meanwhile i've asked for direct graylog(gelf) functionality because of mine method doesn't parse multiline messages

[2018-02-12 03:59] rwynn commented on #41
Are you asking for logging in monstache to be done via something like https://github.com/Graylog2/go-gelf with new config option to specify graylog server monstache must connect to?  Sorry I did not understand your request.

[2018-02-12 04:12] timansky commented on #41
yeap, this will be perfect

[2018-02-13 22:00] rwynn commented on #39
Reconnecting to MongoDB and Elasticsearch has been fixed in 3.6.2.  Thanks!

[2018-02-14 01:34] benan789 opened #42 "panic: close of closed channel"
Getting this since patching to 3.6.2

[code]

[2018-02-14 02:18] rwynn commented on #42
Thanks for the report. Do you always get this or just sometimes?

[2018-02-14 02:45] rwynn commented on #42
Please give 3.6.3 a try this should be fixed now. Thanks.

[2018-02-14 03:34] rwynn commented on #41
@timansky can you please build using `go get -u github.com/rwynn/monstache` and then run monstache with flag `-graylog-addr localhost:12201` or whatever your server is set to and let me know how that goes?

[2018-02-14 03:43] benan789 commented on #42
No longer getting the panic but in errors log getting this

[code]

It worked fine before 3.6.2

[2018-02-14 04:03] rwynn commented on #41
scratch that, you can just try 3.6.4 now instead of building from source.

[2018-02-14 04:05] rwynn commented on #42
Really sorry about this.  Please try 3.6.4 which adds back a check to only quit after direct reads are finished in you explicitly set `exit-after-direct-reads` to true.

[2018-02-14 04:12] benan789 commented on #42
Haha np, that fixed it. Amazing package btw, can't believe I didn't come across it sooner.

[2018-02-14 14:53] aguyinmontreal opened #43 "Does it/Will it support parent joins?"
Hi there!

Does this project or Will this project support the new [parent joins](https://www.elastic.co/guide/en/elasticsearch/reference/current/parent-join.html) (in replacement of child/parent relationships)?

Thank you!

[2018-02-14 19:33] rwynn commented on #43
Hi, I don't see a reason yet why it wouldn't already support this (with some work on your part).  Monstache will not create the index mapping that contains the join field.  You would need to do that yourself upfront before indexing.  Then after that join field is in place you would need a Javascript or Golang plugin to alter the source document appropriately to include that join field AND ensure t

[2018-02-14 19:37] rwynn commented on #42
Thanks!  I am trying to get the word out but hopefully it will grow organically because I don't have time for marketing.

[2018-02-14 19:37] #42 closed

[2018-02-14 19:47] aguyinmontreal commented on #43
Thank you! I'll give it a try!

[2018-02-14 22:05] aguyinmontreal commented on #43
Sorry to bother, but my "parent" documents and my "child" documents are in two different MongoDB collections.

Can Monstache bring them both under the same namespace (i.e. both index and type) without conflicts?

Thank you

[2018-02-14 22:15] rwynn commented on #43
@aguyinmontreal I've just added some docs around this at https://rwynn.github.io/monstache-site/advanced/#joins

To do what you want to accomplish you would have 2 mapping functions in your TOML config file.  One for each collection.  Then on the _meta_monstache attribute, in addition to a `routing` property set the `index` and `type` properties to what you want.  You will be overriding the defaul

[2018-02-14 22:18] rwynn commented on #43
This link shows more about overriding the index and type.  https://rwynn.github.io/monstache-site/advanced/#indexing-metadata

[2018-02-14 22:23] aguyinmontreal commented on #43
And it will not conflict on stateful resume?

[2018-02-14 22:38] rwynn commented on #43
The only conflict I can think of when you merge 2 collections into 1 index like this is if document ids collide across those collections.  MongoDB only ensures that _id is unique within a single collection. So it's possible, though unlikely if you are using auto-generated _ids, that they can collide and write to the same document in the converged target Elasticsearch index.

I don't think there is

[2018-02-14 22:42] aguyinmontreal commented on #43
Alright!

I just wanted to double-check before I start importing all my mongo-connector stuff to Monstache!

Thank you so much for your guidance!

[2018-02-14 22:50] rwynn commented on #43
@aguyinmontreal let me know how your transition to Monstache ends up going.  I'm very interested in any gaps that exist between it and other solutions.

[2018-02-15 04:28] aguyinmontreal commented on #43
@rwynn Small comment, if I may.
I noticed you use "test.test" as the example Elasticsearch namespace.

Elasticsearch recommends that we name every types as "_doc" from now on. (see [here](https://www.elastic.co/guide/en/elasticsearch/reference/5.6/removal-of-types.html#_schedule_for_removal_of_mapping_types))

so it should be "test._doc", I guess.  (Does Monstache allow types starting with "_"?  I

[2018-02-15 06:02] rwynn commented on #43
You can name the index and type whatever you want them to be. I don’t think monstache imposes restictions other than https://github.com/elastic/elasticsearch/issues/6736

[2018-02-15 06:08] rwynn commented on #43
So actually no monstache would not allow type to be _doc because it used to be a rule that type could not start with underscore and monstache is still following.

[2018-02-15 06:13] aguyinmontreal commented on #43
Would you consider allowing it?

[2018-02-15 06:30] rwynn commented on #43
Yeah I’ll take a look at it. I may just remove the code that checks any of this and just let ES determine what is valid and not.

You can actually use _doc as the type if you set it from the javascript function. I think that is a “bug” that works in your favor here.

[2018-02-15 22:36] rwynn commented on #43
@aguyinmontreal this should be fixed now and the docs updated.  Use the 4.0.0 release.  Thanks and let me know if you run into any problems.

[2018-02-15 22:38] rwynn commented on #41
@timansky I added the option to set -graylog-addr.  Let me know if this is OK.  Thanks. Graylog can categorized the message by the prefix right?  I'm assuming it works like Logstash.

[2018-02-15 23:06] benan789 commented on #39
Does this fix also apply to direct read? I've been getting

and syncing just stops completely.

[2018-02-15 23:28] aguyinmontreal commented on #43
@rwynn Alright!  I'll take a look at it!

So the default index name for Elastic 6.2+ becomes "mongodb database name . mongodb collection name"?  So the full namespace (index + type) becomes "mongodb database name . mongodb collection name . _doc"?

Are you sure two dots in the namespace are allowed?

[2018-02-15 23:42] rwynn commented on #43
ES index is ‘db.collection’ and I’ve used dots with no problem.  I don’t think elasticsearch has namespace just index and type.  Type is _doc.

[2018-02-15 23:53] rwynn commented on #39
The logic is here https://github.com/rwynn/gtm/blob/master/gtm.go. I don’t think that error is handled. Bunch of other io errors are though. I need to find where that error is defined in the standard library. Couldn’t find it here with the others https://golang.org/pkg/io/#pkg-variables

[2018-02-16 00:01] aguyinmontreal commented on #43
Sorry for the confusion.

For me:
1- index + type equals namespace
2-index is the part before the dot
3-type is the part after the doc

[2018-02-16 00:07] rwynn commented on #43
An index can contain a dot. The whole thing is the index. You can try it.

[2018-02-16 02:26] rwynn commented on #39
@benan789 can you please re-download the latest release (3.x for ES2-5, 4.X for ES6+) of Monstache and try this again?  I have reworked the tailing library that Monstache uses, rebuilt the binaries, and run some tests.  I updated this library do a periodic ping after ANY type of error encountered (these are reads so there really isn't much that can happen besides broken connections).  Hopefully, i

[2018-02-16 21:34] benan789 opened #44 "meta collection alternative"
Does the meta collection serve any other purpose other than getting the routing info? If not, wouldn't it be better to just query elasticsearch for the routing info?

[2018-02-16 21:38] benan789 commented on #39
Still having issue doing a full sync of about 10mil documents, suspecting the meta collection.

#44

[2018-02-16 23:05] rwynn commented on #44
When you customize routing you cannot do a get without the routing info. Do you need to support deletes in mongo propagating to ES?  If not then you don’t need meta.  Inserts and updates are fine cause your JS sets the routing. On a delete all we have from mongo is the mongo Id which doesn’t give us the routing.

[2018-02-16 23:08] rwynn commented on #39
What is the error from the log with the latest monstache code?

[2018-02-16 23:22] rwynn commented on #44
See https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-routing-field.html#_making_a_routing_value_required

[2018-02-17 00:18] benan789 commented on #44
What about ids search? It's probably not as fast as get but shouldn't be that much slower.

[2018-02-17 00:47] rwynn commented on #44
Why do you think meta is an issue? Do you see errors?

[2018-02-17 01:20] benan789 commented on #44
Are the meta upserts to mongo bulked? Not sure if that's a bottleneck, but syncing is very slow, I have yet to fully sync a db of 10mil docs without it breaking, i think the fix you did last night helped, it was able to sync to 4mil whereas before it could only do 2. Also it takes a lot of space on the db.

[2018-02-17 01:23] rwynn commented on #44
Got you.  Definitely could be bulked. But if the indexing count going up slowly?

[2018-02-17 01:30] benan789 commented on #44
Ya i think it gets slower as the count goes higher. It's at 2.7 right now and I started syncing like 6 hrs ago.

[2018-02-17 02:45] rwynn commented on #44
Can you try with direct-read-limit really high? Less queries. Read up on the direct-* options. Also I noticed from you comment yesterday about the error, the direct read query errored with a timeout. The query actually sorts the entire collection by _id and then seeks to the offset  applies the limit. That is why I suggest a really high limit. Default is 5000 I think. That’s still 2000 queries and

[2018-02-17 03:04] rwynn commented on #44
Also did you up the thread pool on the ES side?
https://rwynn.github.io/monstache-site/start/
thread_pool:
   bulk:
     queue_size: 200

And consider setting the refresh interval to -1?

[2018-02-17 04:30] benan789 commented on #44
Are you using skip?

[](https://docs.mongodb.com/manual/reference/method/cursor.skip/)

[code]

$gt: id should fix this

[2018-02-17 04:50] rwynn commented on #44
Skip used yes. And $gt is a good idea. I wonder if $gt would work if someone used a strange Id like an object?  Query would be like { _id : $gt: {x: 1 } }.  Would have to try it cause it needs to work in general case.  I guess if we’re sorting by _id it must work for any value of _id.

[2018-02-17 05:22] benan789 commented on #39
It's the same error actually. Maybe it didn't stop completely but just didn't update in a while and I thought it stopped lol.

[2018-02-17 16:49] rwynn commented on #44
I think using the range selector instead of skip is a huge performance gain! I’ll fix it and publish a new release on Monday. Thanks for your help!

[2018-02-17 20:03] aguyinmontreal opened #45 "Quick question: Can we import from another .js file in a Javacript script?"
Can we import from another .js file in a Javacript script?

If yes, how to? And where does a relative path should start from (the .exe file OR the TOML file)?

[2018-02-17 21:14] rwynn commented on #45
No you cannot do that yet.

[2018-02-17 22:05] #45 closed

[2018-02-17 22:17] aguyinmontreal commented on #45
No problem! I'll just copy paste my code into the config.toml file.

[2018-02-17 22:17] rwynn commented on #44
@benan789  git it another try with the latest release when you get a chance.  I'm seeing collections with millions of documents getting synced pretty quickly now.

[2018-02-17 23:22] aguyinmontreal commented on #43
Hi rwynn!

I saw this note here in the docs, and I'm a little confused:

![image](https://user-images.githubusercontent.com/19701656/36346584-99dc2350-140e-11e8-95c0-f39ae38b637e.png)

In my case, as we discussed, my parent and my child documents are not coming from the same namespace. So even if I can prefix the dynamic index of either the parent or the child, the remaining one will be prefixed w

[2018-02-18 00:16] rwynn commented on #43
You probably don’t need to worry too much about that comment. There is a feature that monstache deletes the index when the collection or db is dropped.  You will just need to do that delete index manually. Drop collections and db not too common event.

The ObjectId are converted to string before your function and is called.

[2018-02-18 04:02] benan789 commented on #44
Much better! Thank you for fixing it so fast!

[2018-02-18 12:31] #44 closed

[2018-02-18 12:31] #39 closed

[2018-02-18 16:41] #43 closed

[2018-02-19 02:06] #41 closed

[2018-02-21 21:14] rwynn commented on #45
@aguyinmontreal in the latest version you can reference a file path to a script.  You still cannot import scripts from within the script itself though.  You would need to use a build tool to bundle everything together.  https://rwynn.github.io/monstache-site/config/#script

[2018-02-27 21:39] benan789 opened #46 "Filter oplog to only apply selected updates"
Not sure if this functionality already exists but my use case is since writing to elasticsearch isn't exactly fast some data that is needed real time is lagged behind.  So I was thinking of having the ability to have an instance of monstache that only checks for those fields that are needed real time and ignoring the rest. Is that possible?

[2018-02-27 22:27] rwynn commented on #46
You can use workers to distribute the load. Also
namespace-regex to filter what collections get synced.   Also Golang plugins will be much faster than JavaScript if you use that. You can drop fields in the go plugin.

[2018-02-27 22:54] benan789 commented on #46
There's no way to ignore certain oplog entries? This collection holds about 20mil docs and is refreshed daily, no matter how the load is distributed the write to elasticsearch will lag behind the oplog. I tried using a filter middleware and returning false and it just deletes the doc. Instead of delete can there an option to just ignore?

[2018-02-27 23:48] rwynn commented on #46
Yes I can add an ignore. But I would probably do this in a separate function so that it is ignored earlier in the process.

Do you adjust the refresh interval in ES when you load all these docs?

[2018-02-27 23:58] benan789 commented on #46
No as it is a continuous process throughout the day.

[2018-02-28 00:23] rwynn commented on #46
How many nodes in the ES cluster and do you point monstache to multiple nodes? Also do you override queue size for bulk thread pool?  It’s only 50 by default last time I checked. Maybe 200 now in latest ES.

Changing the refresh interval even from default 1s to 10s might make a difference.

[2018-02-28 02:57] benan789 commented on #46
2 nodes for ES, monstache is pointed to one I believe. I think bulk thread pool is defaulted to 200 so I never changed it. Some of our collections need to be somewhat real time, should I still change the refresh interval in that case? Maybe I should try 2-3s?

[2018-02-28 04:11] rwynn commented on #46
Maybe hold off on changing the refresh interval if you need searches to have the very latest data.  It's strange that ES would be slow to index in bulk.  I'll try to push a fix to allow ignoring docs completely tomorrow.

[2018-02-28 04:42] benan789 commented on #46
Awesome ty!

[2018-02-28 21:56] rwynn commented on #46
Can you please try the latest version.  Thanks.

[2018-03-01 00:06] benan789 commented on #46
Looks like its working! Thank you!

[2018-03-04 14:15] snoopy83101 opened #47 "Failed request line #0 details: {"_index":"ttt.No2","_type":"_doc","_id":"5a9bff2d4e3d6cf0131b07af","status":400,"error":{"type":"invalid_index_name_exception","reason":"Invalid index name [ttt.No2], must be lowercase","index":"ttt.No2"}}"
Failed request line #0 details: {"_index":"ttt.No2","_type":"_doc","_id":"5a9bff2d4e3d6cf0131b07af","status":400,"error":{"type":"invalid_index_name_exception","reason":"Invalid index name [ttt.No2], must be lowercase","index":"ttt.No2"}}

Is there any way to do it?

Mongodb allows the capitalization, it already exists

[2018-03-04 15:47] rwynn commented on #47
See index mapping at https://rwynn.github.io/monstache-site/advanced/  so that you can change index name to lowercase.

[2018-03-04 18:26] rwynn commented on #47
added a fix to master and rel3 branches to do this automatically.  will be in next release. For now you can use a custom index mapping.

[2018-03-04 19:19] rwynn commented on #47
this should be fixed now in the latest release.  thanks.

[2018-03-05 00:06] snoopy83101 opened #48 "Different mappings are wrong"
{
   no:[1,2,3]
}
or
{
   no:1
}
or
{
   no:{
      no1:1
      no2:2
   }
}

The above situation is often seen in mongodb ！
And it has already existed

Then  some Error in ES 6 , I think it wants to make my data type exactly the same， How do I deal with it?

[2018-03-05 00:07] snoopy83101 commented on #48
Now I have to land the ES version to 5.x

[2018-03-05 00:11] snoopy83101 commented on #47
Thank you very much for your kind help, although my English machine is fine   O__O "…

[2018-03-05 00:15] #47 closed

[2018-03-05 00:34] rwynn commented on #48
Perhaps the best solution to that would be to use JavaScript to coerce the no field into a number array type.   So, you would need to detect case #2 or #3 and use code to transform to form #1.  Delete the index and rerun monstache to reindex the data with same type.

Or if you don’t need to search this field you could simply set up a mapping in ES such that the no field is not indexed.

[2018-03-05 00:42] rwynn commented on #48
Example to disable a field if you choose to not transform in JavaScript.

https://www.elastic.co/guide/en/elasticsearch/reference/current/enabled.html

[2018-03-05 08:33] snoopy83101 commented on #48
thx！
If I keep all，The best way should be。。。。。？
no.length>2
no=2
no.no1=1
Suppose all want to query

Is not only using the low version 5.x？

[2018-03-05 09:06] snoopy83101 commented on #48
I do not quite understand why it（es 6） does not have a better solution, only to delete the index

[2018-03-05 18:57] rwynn commented on #48
To my knowledge there's no difference between ES 5 and 6 with regards to this.  When using dynamic mapping the first document indexed determines the field types and subsequent documents must conform to that type.

Once the index is created, you cannot change the type mapping of existing fields in ES 5 or 6, only reindex the into another index or delete the index and recreate.   Are you saying you

[2018-03-07 02:17] snoopy83101 commented on #48
I think I should understand. Thank you very much!

[2018-03-07 02:17] #48 closed

[2018-03-07 02:21] snoopy83101 opened #49 "Can I use dbname as the name of index"
now, my index name is
"geek001.db1"

In the past, I was using mongo-connector.
name is "geek001"

So the programs are all querying this

“/geek001/db1/_search.......”

Can I still do this right now?

[2018-03-07 03:41] rwynn commented on #49
You can use a mapping. From the docs...

[[mapping]]
namespace = "geek001.db1"
index = "geek001"
type = "db1"

But I don’t recommend that generally. There is a reason it is done differently than mongo connector. Specially I don’t believe that all mongo collections in a db should map to a single elasticsearch index - most importantly because _id is not guaranteed unique across mongo collections.

I

[2018-03-09 19:27] kgrvamsi commented on #47
@rwynn do you mean that if the collection name is like Employee then mapping should be like

[code]

[2018-03-09 19:37] rwynn commented on #47
If the collection name is `Employee` then the mapping should be
[code]

Monstache will only lowercase you index names since ES does not allow otherwise.  MongoDB namespace is whatever you have in MongoDB.

[2018-03-09 20:33] kgrvamsi commented on #47
@rwynn your library rocks and it helped me alot (was using mongo-connector before) and can i use this in production and here are my settings that i want to use.(please advice if these values makes sense)

[code]

[2018-03-09 20:48] rwynn commented on #47
@kgrvamsi thanks and those settings look fine.  Just read the comments on this issue to understand the implications of syncing 2 collections to the same index.  https://github.com/rwynn/monstache/issues/49

[2018-03-09 20:54] kgrvamsi commented on #47
@rwynn if i create different indexes for the same table what would be the settings i need to use?
( ```namespace-regex = '^mydb\.(mycollection|\$cmd)$' ``` )

I'm not sure if on the pattern of collection that i may end up as there are 50 collections with different names.

[2018-03-09 21:05] rwynn commented on #47
If by that you mean you want to index anything in `mydb` then you could use

[code]

That will include database and collection drops resulting in a delete index.  If you don't want that you can turn those off globally

[code]

You can test expressions here https://golang.org/pkg/regexp/.  If the namespace matches then the operation will be not be ignored.

[2018-03-09 23:03] kgrvamsi commented on #47
if i'm trying to sync the data for the first time then i can use drop-database and dropped-collections to true right?will that impact if i restart the monstache by deleting the old indexes created in ES?

[2018-03-09 23:09] rwynn commented on #47
When those are true it just means that if you issue a drop db/collection in Mongodb that will be synced to ES which means index deletes sent.

If they are false monstache ignores that type of operation. It would then only delete individual docs when you delete those in MongoDB.

It’s probably safest to set those both to false and manually delete indexes in ES if you want to.

[2018-03-10 19:36] aguyinmontreal opened #50 "Nothing is working anymore :("
Hello @rwynn !

Monstache won't sync my MongoDB anymore! :(

As we discussed last time, here is my config.toml

[code]

The only way I can get my MongoDB to sync is by adding this line in the config.toml

`direct-read-namespaces = ["profiles.Profile", "profiles.Blogs"]`

However, as soon as the backup is done, it doesn't continue syncing.

If I start it without this line, nothing happens, the "com

[2018-03-10 19:41] rwynn commented on #50
Try removing `fail-fast = true` since any error will cause the process to exit.

[2018-03-10 19:42] aguyinmontreal commented on #50
It doesn't make any error, the "commited" and "index" numbers stay at 0 (or 1?), and the "flushed" number keeps growing and growing....

[2018-03-10 19:50] aguyinmontreal commented on #50
I think the issue is because I used my mongoDB database for a few weeks without having Monstache turned on.  But now, I can't make it work anymore.  Is there a log file I need to delete?

[2018-03-10 19:50] rwynn commented on #46
I think it was not applying this filter on updates.

[2018-03-10 19:55] rwynn commented on #50
direct-read-namespaces = ["profiles.Profile", "profiles.Blogs"] is the way to go if you need to backup those entire collections.  I'm not sure why monstache would stop syncing changes unless the process is exiting or getting killed.  It's not meant to exit unless that `fail-fast` is on.

[2018-03-10 19:56] aguyinmontreal commented on #50
It doesn't exit after the backup is done, it just continues, but it doesn't sync if I make changes to the MongoDB database...

[2018-03-10 19:57] rwynn commented on #50
to answer your question there is no log file, but monstache keeps the last indexed timestamp in the monstache.monstache collection.  It only uses that if `resume=true`.  It goes back to the beginning of the oplog is your run with `replay=true`.

[2018-03-10 19:58] rwynn commented on #50
What happens when you remove those javascript functions?  Does the data get sent then?  You can use a test.test collection and see what happens.

[2018-03-10 19:58] aguyinmontreal commented on #50
resume=true and replay=true won't work because I'm using dynamic indexes

[2018-03-10 19:58] aguyinmontreal commented on #50
let me test that

[2018-03-10 19:59] rwynn commented on #50
The 2 don't have anything to do with one another.  Resume and replay just tell it when to start tailing the oplog from.

[2018-03-10 20:02] aguyinmontreal commented on #50
`--resume --replay` gives me this error:  (I thought it's because it cannot drop documents because of dynamic indexes)

[2018-03-10 20:06] rwynn commented on #50
That is fine.  Those errors are meant to happen because ES prevents you from overwriting new data with old data.   That doc already exists in your ES.

[2018-03-10 20:07] aguyinmontreal commented on #50
I'm not sure you get me: The doc exists, but won't sync!

[2018-03-10 20:08] aguyinmontreal commented on #50
with `--resume --replay`  but without the scripts I get this:

[code]

[2018-03-10 20:12] rwynn commented on #50
So you are saying that the doc in ES is old (not in sync) but it has a version with a number higher than the most recent timestamp in the MongoDB oplog?  When you update the doc in MongoDB the timestamp in the oplog will go up, the version sent to ES will match that, and it should be greater than what is already in ES, thus not fail due to version error.

[2018-03-10 20:22] aguyinmontreal commented on #50
Now the ES is new, because every time I make a test, I delete the whole elasticsearch namespace, and recreate the mappings.

[2018-03-10 20:24] aguyinmontreal commented on #50
Right now, my issue is that when I make a change to the MongoDB database, it doesn't get "committed" or "indexed" at the next cycle. And there is no errors.  All numbers except "flushed" stay the same. What can it be?

[2018-03-10 21:12] rwynn commented on #50
Those errors above seem to indicate it’s failing to Marshall the request to Elasticsearch.

[2018-03-10 21:24] aguyinmontreal commented on #50
yeah, I found out what these errors were, but it doesn't solve my main issue.
These errors come because I have some Date(8640000000000000) in my database (which is the maximum value allowed in Javascript.  I don't Marshall likes that.

[2018-03-10 21:40] aguyinmontreal commented on #50
I also found out why I was getting this error:

[code]

I found out I get this error every time I do `DELETE _all`, set the mapping and start monstache, too quickly. I learn that I need to wait at least 30 seconds after `DELETE _all` before restarting monstache

[2018-03-10 21:56] aguyinmontreal commented on #50
I still don't understand why monstache won't sync

[2018-03-10 22:47] aguyinmontreal commented on #50
Ok I fixed my main issue!

I still don't know what the issue was.  But I fixed it by mongodump and mongorestore my whole database.

If I run the `rs.printReplicationInfo()` on `mongo`, I see the following:

[code]

I don't think it is normal that the `oplog last event time` is `Feb 13`.

[2018-03-10 22:55] #50 closed

[2018-03-11 13:14] rwynn commented on #49
Index names are now lowercased in monstache.

[2018-03-11 13:14] #49 closed

[2018-03-11 18:38] rwynn commented on #50
Glad you figured it out!  And useful info if someone else has the same problem. Thanks.

[2018-03-12 19:32] benan789 commented on #46
Getting this error after updating from 4.2.0

[code]

[2018-03-12 21:35] rwynn commented on #46
Not sure why that would be yet. Monstache should always be passing an non nil object to filter and map functions. It can be named anything in js but I use doc in the examples. I haven’t noticed an area where the doc is not passed as the 1st arg.

[2018-03-12 21:37] rwynn commented on #46
Is it possible it was left off of the js argument list in the function def?

[2018-03-12 21:49] rwynn commented on #46
I think it would have been a type error if the argument was null or undefined and then a property accessed? But I could be wrong.

[2018-03-12 22:53] rwynn commented on #46
I tested this quickly and I do that you would get the following error message if the doc passed into the function is by monstache undefined

[code]
and the following error if you do not define the doc in the function signature

[code]

[code]

[2018-03-12 23:35] benan789 commented on #46
I haven't changed my code only updated Monstache. Maybe it has to do with the transformation middleware after being filtered?

[2018-03-13 01:02] rwynn commented on #46
Sorry I am not seeing any issues using the following and just inserting documents into the test collection.
Without seeing your latest javascript I just used what you posted 2 days ago and a fresh go get github.com/rwynn/monstache.

[code]

[2018-03-13 01:12] benan789 commented on #46
hmm is it possible to add more verbose logging so I can trace this error?

[2018-03-13 01:25] rwynn commented on #46
Can you run your functions in nodejs, passing test docs, and make sure they return OK?  I ask only because Monstache does not include any Javascript code itself and thus no Javascript that references `doc`.

[2018-03-13 15:44] kgrvamsi opened #51 "Multiple Monstache Indexes getting created"
![image](https://user-images.githubusercontent.com/1199031/37352453-524060ce-26ab-11e8-8cf0-1bd597f4e454.png)

@rwynn do the collector code have the functionality to cleanup all these indexes or they have to be there part of the oplog management for the mongodb?

[2018-03-13 18:52] rwynn commented on #51
Monstache does not cleanup.  I suggest in the docs to use the best tool for the job which I believe is elastic curator.

https://rwynn.github.io/monstache-site/config/#index-stats

If you don't want to have multiple indexes you can changes the `stats-index-format` option to simply `monstache.stats` or whatever you want the index name to be without a timestamp.   But per-day is better since you can

[2018-03-13 18:52] benan789 commented on #46
Here's there error when it crashes:

[code]
doc is definitely passed in as arg and I haven't changed anything since I last gave you my code

[code]

[2018-03-13 18:53] rwynn commented on #51
You can also change the `stats-duration` from default 30s if you think you have too much data.

[2018-03-13 20:10] rwynn commented on #46
Are you able to reproduce it with a simple script?  I just tried using the following config and updating ~90K documents in one update to MongoDB.

I was not able to reproduce the panic and the docs got synced.

[code]

[code]

[2018-03-13 21:14] benan789 commented on #46
Have you tested inserts with filter returning false?

[2018-03-13 21:44] rwynn commented on #46
Just tried it, nothing gets synced and I don't see any errors.

[code]

Do you get different behavior for this simple test?

[2018-03-14 03:04] benan789 commented on #46
If I set filter to return false I no longer get the doc is undefined error but it still crashes:

[code]

[2018-03-15 05:54] kgrvamsi opened #52 "Fielddata error when searching the index"
We started updating the data from the mongodb to Elasticsearch with Monstache and updating the looks fine and when i started to fetch the data as per the https://olivere.github.io/elastic/ golang library i see the following issue

![image](https://user-images.githubusercontent.com/1199031/37446417-d828ebb2-27ea-11e8-9b20-41cd1f56902d.png)

Current data that Monstache created
![image](https://user-

[2018-03-15 11:46] rwynn commented on #52
There is not any way to set explicit mapping information with monstache. It just sends the data and if there is any existing mapping for the index it will be used. Otherwise, elasticsearch will make a guess as to what the type should be for the data. So you can solve this by explicitly mapping the fields for your indexes, either per index or with an index template, once, before running monstache.

[2018-03-15 11:59] rwynn commented on #52
Also I think you want the **date** type for last updated and not **text** at all. Not sure why it is not being auto mapped as a date. But you can configure that explicitly.

[2018-03-15 15:38] kgrvamsi commented on #52
@rwynn thanks for the info but i was checking the ES docs as well and it says that the query for text fields happens from in memory and use lot of jvm heap sapace.

Reference url:
https://www.elastic.co/guide/en/elasticsearch/reference/current/fielddata.html
``
Instead, text fields use a query-time in-memory data structure called fielddata. This data structure is built on demand the first time tha

[2018-03-15 16:58] rwynn commented on #52
@kgrvamsi I was not recommending using a text field for `last_updated` but rather to make it a date type field.

Let me try to explain.  You should start by deleting any current indexes you have since the type information cannot be modified once it's set.

First you should take your data and think about a data mapping using the types available in Elasticsearch.  Then you should pre-create the inde

[2018-03-15 17:03] rwynn commented on #52
To check why your data for the field was not automatically mapped as a date, read these docs:

https://www.elastic.co/guide/en/elasticsearch/reference/current/dynamic-field-mapping.html#date-detection

[2018-03-15 17:06] rwynn commented on #52
The main issue with your query was the sort on a text field instead of a sort on the keyword sub-field.

[2018-03-15 20:03] rwynn commented on #52
By the way, monstache will produce a valid date format that Elasticsearch recognizes when you use the `Date` object in MongoDB.

[code]
[code]
[code]

See how the date was sent to Elasticsearch in a format it recognized and automatically mapped to a date?  So, I would recommend either storing your date using the MongoDB date object OR worst case storing the date as a string in MongoDB in the forma

[2018-03-16 18:57] kgrvamsi commented on #50
@rwynn if the mongodb have some updates to a existing record then will monstache make those changes happen or do we need to do a collector restart direct-read-namespaces  added to the config file?

[2018-03-16 18:58] kgrvamsi commented on #52
@rwynn thanks for the info and i'm trying to make the changes to the db as we made this field string but not into date format.

[2018-03-16 18:58] #52 closed

[2018-03-16 19:23] rwynn commented on #50
Monstache syncs all changes it detects while it is running. Just run it without any configuration beyond connection url.

Once you start adding filters then that is where starts ignoring changes if they do not match. You need to restart if you want to change filters.

Does that answer your question?

[2018-03-19 13:15] richiarora opened #53 "Worker not coming up in HA cluster"
in toml file i have following :
cluster-name = "HA"
workers = [ "es1" , "es2" , "es3" ]

I start with 3 workers and it works fine but if i abruptly kill 1 server say es2 and then try to bring es2 up again then i get following in error log:
ERROR 2018/03/19 18:39:59 not found

I get following in info log:
INFO 2018/03/19 18:36:42 Shutting down
 INFO 2018/03/19 18:38:16 Successfully connected to Mon

[2018-03-19 13:39] rwynn commented on #53
The reason a worker would start paused is if there is already a document in the `monstache.cluster` collection with an _id == $cluster-name.$worker-name.  That just means that presumably another process is already working on behalf of this worker in the cluster.

If another process is not really working on his behalf, the document in `monstache.cluster` should time out in 30s and be auto-removed f

[2018-03-19 13:54] rwynn commented on #53
You should see something like this when you set a `cluster-name`.

[code]

[2018-03-19 14:00] richiarora commented on #53
Ah ok now i understand, so basically my idea of using cluster was that say 3 processes are running and now i need to update config file to add new mapping so i will update mapping and stop 1 process eg. es2 and start it again so that it can work as per updated config and since this process was started just now its created time will be newer than previous 2 processes and this will take precedence.

[2018-03-19 14:11] rwynn commented on #53
When you want to change the `cluster-name` or the array of `workers` then you need to stop all processes and bring them back up again with the new config.  It doesn't work to change these settings on the fly.

But if you are not changing the settings, just stopping and restarting an existing worker, then that should work.

[2018-03-19 14:57] richiarora commented on #53
well my usecase is to add new mapping / collection to be synced to elasticsearch hence that will require restart.
Another case that i observed was that if i start 3 worker processes at same time then all 3 exit at same time though in logs i see pause logs. In cluster collection i see 3 documents for each worked with same expireAt time.
So i am left with no worker.
If i try to start again a worker

[2018-03-19 18:25] rwynn commented on #53
The monstache process should not exit once it has connected to MongoDB and ES under any circumstances unless you have `fail-fast` set to true or you kill it / ctrl-c it.  If it is exiting and not visible under ps then something is wrong.

Can you explain to me why you would not to restart the process when a new collection is added to MongoDB?  Monstache tails the oplog and sends any updates for an

[2018-03-19 18:32] rwynn commented on #53
It would also stop if you have exit-after-direct-reads = true. That’s not the default.

[2018-03-19 18:46] richiarora commented on #53
hi thanks for prompt reply, yes in my settings i have fail-fast set to true.
I had set same to true as i wanted to know if there was any issue in collection document parsing eg. mapping float to int etc. since mongo is schemaless some documents had a particular field as long and some had same field as float. But elasticsearch needs schema. I guess when we create mapping in elasticsearch it uses fi

[2018-03-19 19:14] rwynn commented on #53
I don't think you need to set `cluster-name` or `workers` at all in your use case.

Day 1
[code]
Then you decide you also want to sync mydb.c2.  You would create a new config as below.

Day 2
[code]
Start the new process and then quit the process started on Day 1.  It doesn't matter if they are both running at the same time for a short period.

You can also run single shots like

[code]
to catch u

[2018-03-20 02:35] richiarora commented on #53
yup thats what i was doing, just wanted to test HA concept if that could provide me no downtime while i update the configuration and add new mapping.

[2018-03-20 02:45] rwynn commented on #53
yeah, the `cluster-name` is supposed to give you redundancy, so that if you have a couple of servers you can ensure that as long as one is running you are good.  but `workers` is a different concept.  Workers split the load between multiple processes.  They do this by doing a sort of round-robin where if you have 3 workers, each will push 1/3 of the changes to MongoDB to Elasticsearch.

The proble

[2018-03-22 10:33] Gittekken opened #54 "Unsure how to get data from the oplog"
![image](https://user-images.githubusercontent.com/36910886/37765104-55570f6a-2dfe-11e8-9c4e-7f88ee66ae95.png)
#config file
gzip = true
stats = true
index-stats = true

mongo-url = "mongodb://localhost:3001/local"

elasticsearch-urls = ["http://localhost:9200"]

elasticsearch-max-conns = 10

dropped-collections = false
dropped-databases = false
replay = true
resume = false
resume-write-unsafe = fa

[2018-03-22 11:01] richiarora commented on #53
Ok I understand. 1 more thing sometimes i just get error log saying "ERROR 2018/03/19 18:39:59 not found" using only cluster-name now and no workers. How to debug such cases.

[2018-03-22 11:36] Gittekken commented on #54
oops jumped the gun on this one. spent hours trying to figure out this one.
namespace-regex = '^meteor\.'
I believe it works now.
Thanks anyways
-ken

[2018-03-22 11:36] #54 closed

[2018-03-22 11:59] rwynn commented on #53
I tried setting mgo.SetLog and mgo.SetDebug but that didn’t seem helpful.

Maybe by tailing the MongoDB log file itself?  I don’t see those not found error so not sure.

Do you use custom JavaScript?  Find methods in those scripts?

[2018-03-22 12:11] richiarora commented on #53
well when i run monstache outside docker it works fine and syncs all 100000 records.
When i run inside docker then it just syncs 20000 entries.

Dockerfile :
FROM golang:1.8.1
ENV MONGO_URL="mongodb://localhost:27017"
ENV ES_URL="http://localhost:9200"
RUN go get -u github.com/rwynn/monstache
COPY config.toml .
CMD ./bin/monstache -verbose -mongo-url "$MONGO_URL" -elasticsearch-url "$ES_URL" -f co

[2018-03-22 13:55] richiarora commented on #53
Well i found issue in docker i was using flags -it while running the container. I replaced same with -d and all worked fine.
-it are for interactive shell

[2018-03-22 14:01] rwynn commented on #53
Docker images are also provided with the entry point set to be the Monstache executable. You may already be aware of these.

https://rwynn.github.io/monstache-site/advanced/

[2018-03-23 03:07] Gittekken opened #55 "Apply script without specifying the specific namespace?"
Hi,

Here is my question. I have multiple incoming MongoDB collections being generated in which I do not know the specific names to. I would like to write a script that adds or deletes parts of the name to all of the namespaces. I know in compose transporter you can just apply a javascript Transform without specifying the specific namespace to change. I would like to know how to go about solving t

[2018-03-23 11:04] rwynn commented on #55
I think currently you can only do this with a Golang plugin. A Golang plugin gets all ops sent to one Map function.

All JavaScript mappers currently work on a namespace. I can probably add a global JavaScript mapper.

[2018-03-23 22:17] rwynn commented on #55
@Gittekken, just pushed a fix for this, but not part of a release yet.  You would need to use go get.

You can now use a script without a namespace also.  This global script will be called for all collections.  The `doc` will be the first argument and the `namespace` will be the second argument.  This function is called before a script with an explicit namespace if one exists.

[2018-03-24 10:26] Gittekken commented on #55
Thank you very much @rwynn for changing it to be global. The main problem is actually changing the names from mongodb to a different name for the elastic search index.

[[script]]
# Gives me "_index":"undefined pizza"
script = """
module.exports = function(doc) {
doc._meta_monstache = {index: doc.index + " pizza"};
return doc;
}
"""

How to use [[script]] if I can’t add strings and use replace().

[2018-03-24 10:28] Gittekken commented on #55
sorry, did not mean to add the huge text.

[2018-03-24 12:29] rwynn commented on #55
The mongodb namespace is passed in as the second argument.

[code]

[2018-03-24 14:20] Gittekken commented on #55
ohhhhh of course. Beautiful!

thank you so much
-Ken

[2018-03-24 14:20] #55 closed

[2018-03-25 20:15] aguyinmontreal opened #56 "Error on monstache start on ubuntu 16.04"
What is this error? Is it related to my server or my database when it says "local" ?

![image](https://user-images.githubusercontent.com/19701656/37879488-aec10d3a-3047-11e8-96bb-e9815993caae.png)

[2018-03-25 23:51] rwynn commented on #56
Local is the database name where the $oplog.main collection resides. Your user needs to have access to this db to read the oplog.

[2018-03-26 01:03] aguyinmontreal commented on #56
Sorry for the confusion :S  I'll check on my side.

[2018-03-26 12:55] richiarora commented on #53
Closing the issue now.

[2018-03-26 12:55] #53 closed

[2018-03-29 11:16] richiarora opened #57 "elastic: <url> is dead when trying to copy to aws"
Hi

I am now trying to copy collection to amazon based ES.
However seldom i see following in the error logs:
ERROR 2018/03/29 11:03:21 elastic: < url of elasticsearch > is dead.

Though I am able to access the elasticsearch from browser and records are also copied but not all.

Because of this error some records are not pushed.
However when i try to copy collection to local docker container runnin

[2018-03-29 13:26] rwynn commented on #57
Any reason why you are using fail-fast?  That will bail before attempting reconnects.

[2018-03-29 13:29] richiarora commented on #57
hi thanks for quick reply.

Say i am pushing one document where status type is int and another document where status type is float so i wanted to stop pushing further documents. First I will rectify and then start pushing again.

So to summarize I wanted to use fail fast in case there is some ambiguity in field types in docs

[2018-03-30 15:16] aguyinmontreal commented on #56
What are these errors when when I start monstache?  (I use `direct-read-namespaces` in my config.toml)

[code]

[2018-03-30 15:33] rwynn commented on #56
When you do custom routing monstache saves the routing info in its own meta collection.  You need to grant your user access to this db.

https://rwynn.github.io/monstache-site/start/

[2018-03-30 17:06] aguyinmontreal commented on #56
thanks!

[2018-03-30 17:06] #56 closed

[2018-03-30 22:40] rwynn commented on #57
There error message you mentioned would be emitted during a health check if the Elasticsearch server failed to respond to a HEAD request. This could be caused by the server being down or just overloaded.

I would run the sync again and monitor ES.

[2018-03-31 05:57] richiarora commented on #57
ah ok, also one more observation was that i was getting monitoring-es index locally but not on aws hosted elasticsearch so it could be how elasticsearch is configured on aws

[2018-04-04 21:46] rwynn commented on #57
Did you happen to figure out what was going on?

[2018-04-04 23:07] benan789 commented on #46
btw this is still an issue, should i create a new issue for it? docs do still get processed prior to erroring, so maybe it's more of an optimization thing?

[2018-04-05 00:13] rwynn commented on #46
Please create a new issue preferably with reproducibility (small data set, monstache CONFIG, and instructions). That would help because I can’t recreate your full setup and I’ve not been able to reproduce thus far.

[2018-04-10 15:33] richiarora commented on #57
hi @rwynn sorry for delayed reply so our team has updated aws node recently I still need to test bulk load.

[2018-04-10 18:38] rwynn commented on #57
Here is a link to the code that is producing the message your mentioned.

https://github.com/olivere/elastic/blob/release-branch.v6/client.go#L1001

You will notice that it does a HEAD request to the base URLs your configure in `elasticsearch-urls` in monstache.  This seems to default to timeout after 1 second.

I do think the elastic client will recover when the health check fails.  It just marks

[2018-04-13 14:04] a-magdy opened #58 "Setting `enable-http-server = true` in config.toml is not working"
Hi @rwynn,

Thank you for your great work in this tool, really useful :) 👍

I noticed that using `enable-http-server = true` only in `config.toml` doesn't start the server, I had to add it to the attribute to the command like: `--enable-http-server -f /monstache/config.toml`

I tested it in different docker images, `rwynn/monstache:4.3.2.cgo`, `4.3.1` & `4.3.2` and I got the same result: "I have t

[2018-04-13 22:27] rwynn commented on #58
Hi @a-magdy can you please try moving `enable-http-server = true` as the first line of your toml config file?  As well as any other simple config settings that you might have.

I think there is a bug in the toml parser where if you have definitions below a TOML table, e.g. a [[script]] then the parser thinks that lines below that belong to the table instead of at the global level.

So for example

[2018-04-13 22:40] a-magdy commented on #58
Hi @rwynn

Thanks for the detailed answer, you are right, I removed the attribute from the command and moved the enable-http-server above tables in the config.toml file, and it worked :D

![28cj0g](https://user-images.githubusercontent.com/14139855/38760542-311fc5da-3f7c-11e8-94ff-3ab7ef27d184.jpg)

cheers :)

[2018-04-13 22:41] #58 closed

[2018-04-17 10:15] a-magdy commented on #55
Hi,

I tried this in my config, and I find it a nice feature, so I don't have to re-rename my collections

I use only the collection name in elasticsearch, so "db.collection_name" goes to ES as "collection_name"

I used this global script:
[code]

and I removed my custom [[mapping]] and it worked correctly and the data was sent with the intended names

But then I noticed that an error foreach doc

[2018-04-17 16:25] rwynn commented on #55
Hi @a-magdy,

What is happening is that because you are doing dynamic routing, monstache is attempting to save that dynamic routing state in MongoDB and failing to do so because of permissions.  The user that monstache is connecting with is not able to save documents to the `monstache.meta` collection.  You can enable access to `monstache.meta` for that user to have this error go away.

The reason

[2018-04-17 21:25] rwynn commented on #55
Should have a commit soon that will allow 3 strategies for delete. Stateful, stateless, and ignore. Stateful is the current one that puts any custom user routing info in MongoDB. Stateless stores nothing additional at index time and does an _id term search across all indexes to find the doc. If it finds 1 match it adds that to the bulk for deletion. Ignore doesn’t do anything when docs are deleted

[2018-04-18 12:27] a-magdy commented on #55
Hi @rwynn

Thank you so much for your comprehensive response :) :) 🙏

Out structure with elasticsearch is stateless, we start the whole search structure with monstache on app startup, so deletion are not that important, also we use, `status` fields to reject/remove items, without actually deleting the document from the database

I tried what you said, about giving the mongodb user I send to monsta

[2018-04-18 12:43] rwynn commented on #55
Hi @a-magdy

I just pushed a new version last night with stateless as the new default strategy. I’ve not built the docker images for that yet though. You can give that a try.

[2018-04-18 13:13] a-magdy commented on #55
Built an image locally and tried it, works like a charm, thank you :) 👍

[2018-04-23 12:55] a-magdy opened #59 "failed: json: unsupported value: +Inf"
Hi @rwynn,

__Problem__: Monstache keeps logging this error forever and stops the whole execution of documents (in other words crashes):

<img width="835" alt="skaermbillede 2018-04-23 kl 13 29 48" src="https://user-images.githubusercontent.com/14139855/39125929-ff4680e4-4700-11e8-91f0-d7d81b68108b.png">

__Cause__: I have a `Double` field with the value `Infinity` -special value not a string-  in

[2018-04-23 19:43] rwynn commented on #59
@a-magdy thanks for reporting this.

The reason you're seeing it over and over again is that monstache defaults to a 1s auto flush.  You can change that, but it wouldn't fix the issue because the go elastic client does not reset bulk actions until a request completes.

https://github.com/olivere/elastic/blob/release-branch.v6/bulk.go#L268

So when you get a case that a line item will not even be s

[2018-04-23 19:46] rwynn commented on #59
I think one fix might be as simple as calling reset before returning when the body of the request cannot be formed since that request will never be fixed:

https://github.com/olivere/elastic/blob/release-branch.v6/bulk.go#L202

[2018-04-23 21:46] a-magdy commented on #59
@rwynn Thanks for the quick and thorough reply as always :)

Oh, I don't fully understand what happens in the flush to elasticsearch, and why resetting will fix the problem -as in, won't the client library try to parse the same document and send it again-

I think I have to do a little bit of digging into the library :) if I get it I'll create a PR, otherwise, I'll open an issue in the repo and as

[2018-04-25 00:36] a-magdy commented on #59
@rwynn Dude, seriously I am astonished by the level of support you give to this library, someone should give you a medal 🏅

I tested the the latest version `4.5.0` and I am already using the new config: `prune-invalid-json` 🎉

I think it might be useful in the future, if something was logged in these 2 lines: https://github.com/rwynn/monstache/commit/8eba13c4ba41c8d816b57b4688eee2d074f89243#diff-5

[2018-04-25 22:12] rwynn commented on #59
@a-magdy thanks, I'll add a note to self to add something to the logs about this.  Just pushed yet another release.  Sorry for all the churn but I think I'm finally pretty happy with the performance on very large collections. Let me know if you see any issues in this regard.

[2018-04-25 22:16] a-magdy commented on #59
@rwynn Thank you :) really appreciate your effort :)

[2018-04-26 11:32] timansky opened #62 "mongo OOM in 4.6.0 - too many connections"
new version leads to OOM mongoDB (primary)
monstache version 4.6.0
mongoDB 3.4
monstache opens hundreds of connections while direct-read, and this leading to OOM mongod

PS
i'm thinking the problem is with GTM, may be with SplitVector, there is no problem with 4.5.0 (from dockerhub), but exist with 4.5.0 (if manual build)

[2018-04-26 12:26] rwynn commented on #62
Thanks. I think I took out the maxSplits in gtm after the 4.6.0 release and need to put that back in to reign in the number of connections produced.

By the way does the split vector improve the performance for you using 3.6.0?

[2018-04-26 12:49] richiarora commented on #57
closing it for now as never observed recently

[2018-04-26 12:49] #57 closed

[2018-04-26 12:51] richiarora opened #63 "Usage of change streams mongo 3.6+"
Mongo 3.6 now comes with change streams https://docs.mongodb.com/manual/changeStreams/

Any plans to move to that since I attended MongoDB.local event and they may change something in future in oplog.

Hence, now we have change streams to rescue.

[2018-04-26 12:53] timansky commented on #62
Nope, it was about 1.5x times slower, with 1000000 docs and 4.4.0 version
Ps
will bench later again

[2018-04-26 15:41] a-magdy commented on #62
I tried v4.6.0, and it is not sending any data, but v4.5.0 is working fine

with v4.6.0, it is not even throwing errors, this is the log from it (I moved `trace` logs to a file):

[code]

[2018-04-26 18:59] rwynn commented on #62
Actually, I've just turned off the split vector stuff until I can figure out what's going on.  And I don't like that it requires admin.  I think I'm seeing pretty good results with the paginating splitter.

[2018-04-27 03:55] timansky commented on #62
docs count 1 150 000
[code]

[code]

[code]

[2018-04-27 09:57] timansky opened #64 "Feature request: mongo tags"
https://docs.mongodb.com/manual/tutorial/configure-replica-set-tag-sets/

it will be nice feature to implement Tags in mongo connections for workload isolation or multi-datacenter support

[2018-04-27 11:18] rwynn commented on #62
Thanks for the numbers. The diff between 4.4.0 and 4.6.1 is basically the number of go routines and connections to Mongodb per direct read collection. That number should be going up which you can verify in mongostat.

The question would be why does that make it slower.  In this test are mongo, es, and Monstache running on the same machine?

[2018-04-27 13:33] timansky commented on #62
No, it was separate machine.
Separate sharded Mongo cluster and separate elastic cluster, and separate machine for monstache

[2018-04-27 22:39] Crispy1975 opened #65 "Strange Time Error"
I have recently ported from Javascript transform scripts to using a Go plugin, on the whole the plugin is a lot faster and allows for more precise data, which is great. However I have encountered an issue when indexing a larger amount of data (about 121,000 documents):

[code]
I've tested with multiple documents, and it seems that all docs will write in smaller batches. Wondered if you new what wo

[2018-04-27 23:01] rwynn commented on #65
I remember someone else had a similar problem. I think they solved it by checking the date fields in Mongodb. I’ll need to check if it’s possible to create a date in Mongodb that does not parse to json.

There is something about 0-9999 in the docs here https://docs.mongodb.com/manual/reference/method/Date

Unfortunately I think once a request does not serialize correctly then the driver goes into

[2018-04-27 23:16] rwynn commented on #65
About small batches. If you have a max docs or max bytes in your configuration can you try removing them. The default in latest monstache should be to flush at 8mb. I based this on the recs here.

https://www.elastic.co/guide/en/elasticsearch/guide/current/indexing-performance.html

[2018-04-27 23:25] rwynn commented on #65
You might want to use -verbose mode to see exactly which document is failing.

[2018-04-27 23:45] Crispy1975 commented on #65
The config is as follows (aside from a few mappings also):
[code]
I'll have a poke around the docs, and do some further testing. Oddly enough it didn't happen with the Javascript scripts...

On the verbose thing... it doesn't seem to stop on the same - or similar - docs, but will pursue that also again and see if I missed anything.

[2018-04-27 23:57] Crispy1975 commented on #65
You were right... one bad date out of those documents caused the error, and then it went into a kind of loop that it would not recover from. The whole collection in question now replicates... and at a very high speed also. Thanks!

Sorry for the bother. :)

[2018-04-28 00:13] rwynn commented on #65
No problem. If you wouldn’t mind can you let me if you detect small batches coming across. They should be around 8mb as I mentioned. This is very important for performance as elasticsearch indexing is far slower than Mongodb reads. The whole pipeline backs if Es is not performing. At that point you start seeing low output (kB instead of mb) in mongostat because the cursor is not being exhausted at

[2018-04-28 00:16] Crispy1975 commented on #65
Sure, I'll do some runs with some larger document sets (millions) and see how that goes. Probably not this evening (well this morning now ;-).

[2018-04-30 00:13] rwynn commented on #63
I think I'll take a look at change streams when the official MongoDB go driver gets released.  Looks like they already have support in there.

Change streams look like they require a collection to be named before starting the watcher.  One nice thing about tailing the oplog is that new collections can be added/removed at any time and the event gets picked up.

May do a hybrid approach where an eve

[2018-04-30 11:31] rwynn commented on #62
@timansky, when you get a chance can you try 4.6.2 and let me know if this issue has been fixed?

[2018-05-02 11:43] richiarora commented on #63
ah ok so you do have plans to figure it out in future. Great.
Anyhow I noticed a behavior as per my earlier comments

I have 1 config like :
stats = false
index-stats = false
elasticsearch-max-conns = 10
elasticsearch-client-timeout = 100
elasticsearch-retry = true
exit-after-direct-reads = true
namespace-regex = '^db\.(collection1|\$cmd)'
dropped-collections = true
dropped-databases = true
resume

[2018-05-02 12:05] rwynn commented on #63
Can you remove elastic-max-conns CONFIG and make sure you’re using latest monstache and try again.

[2018-05-02 14:33] a-magdy commented on #63
Hi

Change streams would be nice, but will that be there by default?

I've tried to update to mongo:3.6 but I got some compatibility problems with "Meteor.js" and one other tool, I think the community doesn't fully support it yet, so if Monstache is going to use it, can we still support mongo:3.4 (without change streams) until 3.6 is widely supported :)

[2018-05-02 16:13] a-magdy opened #66 "Combining global filter with scripts"
Hi @rwynn,

I am relying more on config [[filter]] and [[script]] and I tried to categorize them by using global filter like this:

[code]

To filter out any document (globally) with status not equal to approved

And then have more specific filters like

[code]

But I started seeing the error:
`ERROR 2018/05/02 16:08:20 ReferenceError: 'doc' is not defined`

Do you know what would cause this? or a

[2018-05-02 21:08] rwynn commented on #66
@a-magdy please try the latest versions in master.  I think I found the cause of this problem.  The error message is misleading; your javascript is probably correct.  This is caused by multiple go routines racing to use the same javascript environment.  The filters are executed right after the document is read out of MongoDB, but those reads now happen concurrently for a given namespace.  So, the

[2018-05-03 21:30] #46 closed

[2018-05-03 21:30] #59 closed

[2018-05-03 21:30] #62 closed

[2018-05-03 21:30] #65 closed

[2018-05-06 10:46] alex-oleshkevich opened #67 "Is is possible to do a full collection sync?"
I am migrating from mongo-connector and this option is important to me

[2018-05-06 11:57] rwynn commented on #67
yes, use `direct-read-namespaces` option.

https://rwynn.github.io/monstache-site/config/#direct-read-namespaces

either in toml file as

[code]

or on command line as

[code]

[2018-05-06 22:48] alex-oleshkevich commented on #67
well, when I run it, the program uses 1.5Gb of RAM to sync 2.2M documents. i think there is a memory leak, as the memory is not freed after the operation completed

[2018-05-06 23:06] rwynn commented on #67
Just using default settings? Do you have any custom config?

[2018-05-06 23:11] alex-oleshkevich commented on #67
almost defaults.
command is:
[code]

config:
[code]

![image](https://user-images.githubusercontent.com/635848/39678797-e27145b2-519b-11e8-9f3a-808d9a93963b.png)

ps aux | grep monst
`root     23189 74.2 16.0 1444484 1287092 pts/0 Ssl+ 01:57   8:35 monstache -f /etc/config.toml --direct-read-namespace autobot.advert --stats -exit-after-direct-reads`

[2018-05-06 23:27] rwynn commented on #67
Let's first make sure it's not just memory usage before leak.  Can you try with

[code]

And see if that makes the memory usage better.

[2018-05-06 23:40] alex-oleshkevich commented on #67
now it users 13% CPU and 1.2Gb of RAM

[2018-05-06 23:45] rwynn commented on #67
What happens if you remove -exit-after... and wait for the full sync to complete. Then check memory usage after all docs have synced but process still running.

[2018-05-06 23:59] alex-oleshkevich commented on #67
i will give an answer tomorrow, it is too late in my TZ.

btw, i see lots of
`monstache_1         | ERROR 2018/05/06 23:57:45 Failed request line #0 details: {"_index":"autobot","_type":"advert","_id":"5aeb9377db150c0f9c4b663c","status":409,"error":{"type":"version_conflict_engine_exception","reason":"[advert][5aeb9377db150c0f9c4b663c]: version conflict, current version [6552621429282570264] is hi

[2018-05-07 01:16] rwynn commented on #67
This commit should make monstache use a lot less memory, but by using less concurrent connections.

https://github.com/rwynn/gtm/commit/d83ddcf11c4c926d3400213f8cf41a2a96dbffd7

You would need to rebuild monstache using go get.

[2018-05-07 14:47] rwynn commented on #67
Just tested `rwynn/monstache:latest` which a sync of a 20 million doc collection.  Saw the following RSS when the sync was running ~171MB, then it dropped after the sync was done to ~35MB.

[code]
So, I don't think there is a leak.  The memory usage during copy should now be lower than 4.6.3 due to changing limit from 33 concurrent go routines to 10 concurrent go routines per collection (see previ

[2018-05-07 14:49] rwynn commented on #67
Actually, the limit was changed to 10 concurrent in this commit.

https://github.com/rwynn/gtm/commit/b7744d864ac800df9b9b93213173649e4bdbb13d

[2018-05-07 22:59] alex-oleshkevich commented on #67
hi @rwynn , i've tested your changes -- it works!
during initial db sync it started with 600 and took up to 800mb.
after the used memory was ~40mb.

also i want to admit, that sync speed has not been degraded. it was about 100k/s

[2018-05-07 23:04] alex-oleshkevich commented on #67
i found another issue which probably would be very hard to reproduce. for some reason ES has more documents than mongo.

i made full resync from mongo into empty ES index, and results:
mongo docs: 2262008, es docs: 2262010

ES for unknown reason has two more documents. Actually, i get this issue for second time for today.

[2018-05-08 00:57] rwynn commented on #67
That’s interesting about the 2 extra docs. Do you do hard deletes in MongoDB?  If so, any chance you override the default setting for index.gc_deletes on your indexes. I believe that defaults to 60s. Monstache may send index and delete requests out of order. But it uses a version number for each document with the timestamp from the oplog. That should prevent certain indexes requests from occurring

[2018-05-08 01:07] rwynn commented on #67
Also monstache generates a timestamp (what later becomes the version number for ES) for documents read directly from Mongo (not associated to an op in the oplog). This timestamp is generated in Go to match what the oplog would have had in it had the document just been created. It’s a 64 bit number with the high 32 bits as seconds since the epoch and low bits all set to 0. Since this timestamp is n

[2018-05-08 21:51] rwynn commented on #64
Hi I’ll take a look into this. Have you tried
readPreferenceTags in the connect string. Seems there is code to parse that in the driver already.

https://github.com/globalsign/mgo/blob/master/session.go

Search for readPreferenceTags on that page. Looks like comma separated pairs then separated by colon.

[2018-05-09 20:57] rwynn opened #71 "Separate regex expressions for db and collection drops"
Currently the `namespace-regex` and `namespace-exclude-regex` need to take into account the $db.cmd values for drops which makes things a little cumbersome.  Have the existing regex expressions work only on insert, update, and delete.  Have a separate new setting to filter which dbs/collection drops get synced on a drop command.

[2018-05-10 09:28] Xuhao opened #72 "Sync MongoDB to Elasticsearch via docker way not work."
I run monstache in my k8s cluster to sync mongo(inside k8s) to elasticsearch(outside k8s), it's not work without any error, nothing synced to ES.

### monstache log:

[code]

### My env:

**Mongo**:  replicaset (v3.6) in k8s cluster.
**Elasticsearch**:  v5.5 in isolate machine.
**Monstache**: docker image: rwynn/monstache:3.13.3.cgo

### My config.toml:

[code]

### Data in `monstache.monstache` c

[2018-05-10 11:11] rwynn commented on #72
Can you try with fail-fast = false and see if you get ERROR in output?

 If still no ERROR can you try verbose = true.

[2018-05-10 15:17] Xuhao commented on #72
@rwynn
when set `fail-fast = false', got lots of errors like:
[code]

[2018-05-10 16:39] yumengw opened #73 "Can I sync and tail only one collection?"
I am using direct-read-namespaces and exit-after-direct-reads=false to sync one collection. However, when I change insert doc into another collection under the same mongodb, monstache also sync the changes. How can I limit monstache to tail only one collection?

My config:

mongo-url = "mongodb://db:27017"
elasticsearch-urls = ["http://elasticsearch:9200"]

gzip = true
direct-read-namespaces = ["d

[2018-05-10 19:42] rwynn commented on #73
You can use a regex

https://rwynn.github.io/monstache-site/config/#namespace-regex

[code]

Or you can use a filter
[code]
The regex is faster since no javascript interpreter.

[2018-05-10 19:47] rwynn commented on #72
Those errors are ok.  That is because you have `replay=true`.  When you have that set to true it replays the entire oplog from the beginning.  Those errors are just saying that the version of the document you have in Elasticsearch is newer than the one from the oplog.  So it is correctly keeping the newer version and rejecting the old version from the oplog.

Instead of replay you can copy entire

[2018-05-10 19:51] rwynn commented on #72
I will create a separate issue to figure out what to do with those error messages since they are not truly errors but the versioning system at work.

[2018-05-11 02:09] Xuhao commented on #72
you mean just use `direct-read-namespaces = ["web-db.articles"]` without `namespace-regex` ? or use them together?

## I tried both

#### 1. just use `direct-read-namespaces = ["web-db.articles"]`

didn't sync anything,  and got some errors like:

[code]
looks it's try to access other DBs like `crm-db`. but why? we already set the scope `web-db.articles` do we?

#### 2. use `namespace-regex = '^we

[2018-05-11 02:34] Xuhao commented on #72
BTW, when I set `verbose = true`, got logs include unreadable code:
[code]

according to the last one, article.id with `5aed7e3e660d42003fd23c52` should updated in ES, but unfortunately it's not.

[2018-05-11 03:38] rwynn commented on #72
You need the regex to limit scope. Otherwise it picks up all changes.

Turn off gzip to for readable content.

How are you checking elasticsearch for these docs?

curl localhost:9200/web-db.articles/_count?pretty

[2018-05-11 04:39] Xuhao commented on #72
Here is the result:
[code]

[2018-05-11 08:19] rwynn commented on #72
Sorry I’m not sure then. Verbose mode with gzip off should give you entire request/response for debugging.

[2018-05-12 13:30] #67 closed

[2018-05-12 13:37] alex-oleshkevich opened #74 "Extra documents in ES"
This is a separate issue for #67

1. I have a dump of database with 2.2M documents;
2. I import it into mongo (monstache is off);
3. Once import is finished, I start monstache and wait for it to finish;
4. Start monstache in tailing mode;
4. Compare doc counts: ES has more documents than mongo.

Also, when services work for a long time (~a week), the diff count becomes larger.
At moment I have 228

[2018-05-12 13:40] alex-oleshkevich commented on #74
I know that this info does not helps a lot, but tell me if I can measure something for you

[2018-05-12 19:09] rwynn commented on #74
Also how are you doing the count in Elasticsearch?  Are you counting docs in a single index or wildcard?

Are you indexing stats?  That generates and indexes a document by default every 30s that monstache is running.  It would not be in the index you with your mongo data of course.

You may want to set namespace-regex option to e.g. ^autobot\.advert$ if you only need that collection. Otherwise, mo

[2018-05-13 04:15] Xuhao commented on #72
@rwynn Thanks for the patient and careful reply!!!  And I got you point about  namespace-regex and direct-read-namespaces.

According to your reminder, I changed the refresh_interval to `2s`:
[code]

But till not work :(

I saw your example, it's test on Elasticsearch 6.x. but here is 5.5.0, does it be a concern point?

[2018-05-13 11:09] rwynn commented on #72
I can setup a test env with 5.5. I used to test on 5.x but upgraded at some point.

I noticed you ran the refresh interval against index pattern web-db. But your previous logs indicate successful  requests went to web-db.articles.

Can you post response to {es.ip}:9200/_cat/indices

[2018-05-13 11:29] rwynn commented on #72
Also can you post response to to {es.ip}:9200/web-db*/_count

Notice the * after web-db.

[2018-05-13 18:03] alex-oleshkevich commented on #74
for mongo:
[code]

for ES:
`localhost:9200/autobot/advert/_count`

[2018-05-13 18:35] alex-oleshkevich commented on #74
i cleared indices in es and restarted sync -- counts are equal.
in my app documents in mongodb are never deleted and there are no other process writing to es.
current diff is still 25.

i will keep monitoring that and let you know if i find something

[2018-05-13 19:43] rwynn commented on #74
Counts are now equal or 25 diff?  Sorry I didn’t understand that last one.

[2018-05-13 19:47] alex-oleshkevich commented on #74
I executed sync locally using prod db dump. Numbers are equal.

On prod (I didn't change anything there), the diff is 25 documents.

On Sun, May 13, 2018, 22:43 Ryan Wynn <notifications@github.com> wrote:

[2018-05-13 19:52] rwynn commented on #74
Ok thanks. Is it possible the oplog in prod could have had data in it already before the data dump imported?

[2018-05-14 02:00] Xuhao commented on #72
{es.ip}:9200/_cat/indices?v
[code]
{es.ip}:9200/web-db*/_count <b>(with trailing *)</b>
[code]

{es.ip}:9200/web-db/_count <b>(without trailing *)</b>
[code]

Notice that I tried  sync "web-db.articles" with `mongo-connector` and monstache those days(but they were not running at same time), so some record produced by `mongo-connector` maybe.

[2018-05-14 03:54] rwynn commented on #72
It does look like monstache is indexing documents.  Since the logs you show in this thread indicate successful requests I’m not sure If there’s a problem here. Please let me know if there is something specific I can help with.

[2018-05-18 05:43] Xuhao commented on #72
@rwynn OK, Thank you very much for all the helps.  I switch to mongo-connector for a while, and will keep a watchful eye on monstache that hope switch back one day.

[2018-05-18 05:43] #72 closed

[2018-05-24 06:47] efvhi opened #76 "should i must start another process of monstache when i have a new toml config file?"
is there any auto-loaded of new config files functions supported? thanks a lot.

[2018-05-24 12:43] rwynn commented on #76
Yes, you would need to start a new process as there is not support for dynamic configuration.

What types of settings are you looking to update without a restart? Some may be more difficult than others to update once things are in motion.

[2018-05-25 02:28] efvhi commented on #76
thanks for your response, sir.  i think i need a dynamic configuration when i save data into new db and collection in mongodb, maybe i could use regex to make something like "^db\.(.*)$" work, but when db is different, it will not work, maybe it should be somthing like ".*", this will make all data be synced,  i do not want synced origin data from mongodb like 'admin', 'local'.... so i think i wil

[2018-05-25 04:06] rwynn commented on #76
Monstache should not be syncing MongoDB system collections.  If it is doing that please create a separate issue.

[2018-05-25 04:14] rwynn commented on #76
By default, all user db/collection is synced but not system collections.  You should be able to create new db and new collection after monstache is started, add some data and see index requests for collections added after monstache is started.  That is, by default, without any user configured include/exclude regex.

[2018-06-01 08:45] WallEnd opened #77 "Problem, when try to go get: "unknown field 'CursorTimeout' in struct literal of type gtm.Options""
go get
# monstache-4.6.5
./monstache.go:2674:16: unknown field 'CursorTimeout' in struct literal of type gtm.Options

[2018-06-01 14:07] rwynn commented on #77
Sorry for the inconvenience.  This should be fixed now with commit https://github.com/rwynn/gtm/commit/94610373fed2d99a91309d1ff64636f1c60af128

[2018-06-02 18:41] #76 closed

[2018-06-02 18:41] #73 closed

[2018-06-04 12:27] WallEnd commented on #77
@rwynn This is great. Thank you very much

[2018-06-04 12:33] #77 closed

[2018-06-08 05:28] efvhi opened #78 "workers page is 404"
https://rwynn.github.io/monstache-site/workers/

[2018-06-08 07:21] efvhi opened #79 "one mongodb record(modified many times) generated two es docs"
sometimes the sync is not work. so i shutdown it and restart, but i found that there is two docs generated in elasticsearch

[2018-06-08 10:52] rwynn commented on #79
I am not sure how this can happen being that the _id in mongo is mapped to the _id in Elasticsearch.  Each update should override previous.

Can you explain a bit more about the 2 docs generated by monstache?  They have same or different _id?  They are in the same or different Elasticsearch index?

Are you able to reproduce this in a test?  Should I be able to simply update a document many times a

[2018-06-08 13:47] rwynn commented on #79
Also, what version of MongoDB are you using?  The only way I can think of this happening is it the _id of the update is not being parsed correctly from the oplog causing and index request without an _id thus inserting a new document into Elasticsearch instead of updating one.

For updates Monstache should be pulling the _id from the o2 field in the oplog.
[code]

[2018-06-08 20:36] rwynn commented on #78
@efvhi  this should be fixed now.  Thanks for reporting!

[2018-06-08 20:36] #78 closed

[2018-06-08 20:40] rwynn commented on #79
This sounds similiar to issue #74.

[2018-06-09 01:32] efvhi commented on #78
no...dude. it is still 404

[2018-06-09 01:43] efvhi commented on #79
unlucky i just shutdown the monstache process and delete the index in ES. and restart monstache made a direct-read-namespace. everything is fine now.  I use mongo 3.4 and es 6.x. monstache 4.6.5. the document in mongodb  is somthing like below:
`{ "_id" : ObjectId("5b1a813e4feb0341de274ba8") , "a": 1, "b":2, ...}`
and i made some update make it become something like below:
`{ "_id" : ObjectId("5b1

[2018-06-09 01:47] efvhi commented on #79
another question, can I start multi processes to sync collection ? i found there is one process will work. when i start another process use the same toml file or another toml file, it is just hang on and did not do anything. could you show some `workers` example?  i found that the speed of the sync is not quickly. it spent 2~4 seconds from mongodb update to ES update. could all of this happen in 1

[2018-06-09 01:58] rwynn commented on #79
Could you being using cluster-name?  That would make only 1 process do syncing and others waiting for that process to stop before starting (it's for redundancy not performance).

I think you just want workers (cluster-name unset).  Puts workers = ['a', 'b', 'c'] in a shared toml file.  Then start process a with monstache -f shared.toml -worker a.  Start process b with monstache -f shared.toml -wor

[2018-06-09 02:22] rwynn commented on #78
The link you posted is now https://rwynn.github.io/monstache-site/advanced/#workers on the site.

[2018-06-09 06:17] efvhi commented on #79
yes,  cause i have ES cluster. so i used cluster-name in config file.  my config file has lines below:
`workers = ["w1", "w2", "w3", "w4", "w5", "w6", "w7", "w8", "w9", "w10"]`
`direct-read-namespaces = ["sync.record"]`
`cluster-name = 'docker-cluster'`
`verbose = true`
`exit-after-direct-reads = false`
and then is start process by uising `monstache -f xx.toml -worker w1` and  `monstache -f xx.tom

[2018-06-09 10:05] rwynn commented on #79
Cluster-name in monstache does not mean what you are thinking. It should not be the name of the elasticsearch cluster.   You should not be setting it at all.

[2018-06-09 11:32] rwynn commented on #79
Also make sure you have replay = false. That is probably why you see version conflict.

[2018-06-11 02:02] efvhi commented on #79
well, thanks a lot, sir.
`cluster-name`

When cluster-name is given monstache will enter a high availablity mode. Processes with cluster name set to the same value will coordinate. Only one of the processes in a cluster will sync changes. The other processes will be in a paused state. If the process which is syncing changes goes down for some reason one of the processes in paused state will take c

[2018-06-11 11:20] rwynn commented on #79
You can set the elastic-max-seconds to 1 but it is deliberately not that small because it causes monstache to flush in small batches instead of large batches.  Larger batches are better for performance.

[2018-06-13 02:12] efvhi commented on #79
ok, got it, thanks for your response again, sir.

[2018-06-20 08:56] Gittekken opened #80 "Mongodb (Update) -> Elasticsearch (Insert)"
The way I have my Mongodb setup is to mainly update the docs within the database. Because of this Monstache will update the existing Elasticsearch’s data as well. How can I instead have Monstache insert the updated Mongodb data into Elasticsearch?

Thanks
Ken

[2018-06-20 12:08] richiarora commented on #63
yes change streams are available by default in 3.6
Plenty more is coming in 4.0 transaction support across collections and other important sql type functionalities.

[2018-06-21 01:36] rwynn commented on #80
The closest thing Monstache has to what you describe is https://rwynn.github.io/monstache-site/config/#time-machine-namespaces.

I would consider allowing the ability to override the _id of the document sent to Elasticsearch in a future version.   This would allow one to empty the _id so that each event generates a new document in Elasticsearch.

[2018-06-21 02:30] richiarora opened #81 "error tailing oplog files"
Hi i wanted to know what to make out of following entries ?

ERROR 2018/06/04 19:16:05 Unable to dial mongodb: dial tcp <mongo host>:27017: connect: connection refused
ERROR 2018/06/04 19:16:06 Unable to dial mongodb: dial tcp <mongo host>:27017: connect: connection refused
ERROR 2018/06/04 19:16:06 Unable to dial mongodb: dial tcp <mongo host>:27017: connect: connection refused
ERROR 2018/06/10 2

[2018-06-21 07:12] metanav commented on #81
I guess mongodb is not running at the localhost on default port.

[2018-06-21 13:45] richiarora commented on #81
well mongo was working at that point of time. Though mongo is deployed in AWS i could think of it being network issue.

But when i replicated whole environment locally I got

ERROR 2018/06/21 13:34:14 elastic: http://<elasticsearch host>:9200 is dead
But it was up though.. so couldnt understand why will i get that monstache cannot connect to elasticsearch host

[2018-06-21 14:22] metanav commented on #81
Can you share the config.

[2018-06-21 22:54] rwynn commented on #81
Can you make sure the URLs for Elasticsearch and MongoDB reported from `monstache -print-config` contain valid host names?  It seems strange that in both error messages there is no host before the `:9200` and `:27017`

[2018-06-22 08:00] richiarora commented on #81
hi well hosts was intentionally hidden while pasting error here.

Here is config:

stats = false
index-stats = false
resume-write-unsafe = false
direct-read-namespaces = ["db.collection"]
exit-after-direct-reads = true
elasticsearch-retry = true
graylog-addr = "Richi.local:12201"
[logs]
info = "info.out"
error = "error.out"
[[mapping]]
namespace = "db.collection"
index = "db.collection"
type = "_d

[2018-06-25 16:57] sfrenot opened #82 "ChildChildDocument"
Hello, I'm trying to get a childchildDocument.
My relational structure : niveaucompetence -> ec -> responsable
{niveaucompetence : {ec: ObjectId("12129819829) }}

and ec(Id: 12129819829)
{ec: {responsable: ObjectId("1201821082) }}

I'm trying to denormalize niveaucompetence with two levels.

---
[code]
---
It seems that niveaucompetence.ec.responsable is not an ObjectId format, but something in ba

[2018-06-26 10:02] SimonKempf opened #83 "Unable to get collection names"
Hello,
It's the first time I try to connect Elasticsearch and mongoDB together and have some difficulties doing it.
In my config.toml file I specified the collection that will be used by monstache with those parameters :

namespace-regex = '^switchplus\.(collectePSI|\$cmd)$'
(additionally, if you need to seed an index from a collection and not just listen for changes from the oplog)
(you can copy

[2018-06-26 10:56] rwynn commented on #83
It sounds like you have security enabled on MongoDB and the user in your Monstache connection string does not have permission to access the database named “local” which is where the oplog is stored.

There are some details about requirements in getting started.

https://rwynn.github.io/monstache-site/start/

[2018-06-26 13:02] SimonKempf commented on #83
Alright, thank you for your quick response :)
I missed this part in the "getting started" tutorial.. I will edit my mongod.conf

I have another question :
To see if I understand properly, if in the collection of my mongoDB  I have indexes like "index1" and  "index2", using the "direct-read-namespaces" property in the configuration file I can tell monstache to don't copy the whole collection but on

[2018-06-26 15:13] sfrenot commented on #82
It works perfectly !

[2018-06-26 15:13] #82 closed

[2018-06-27 17:52] andyh69uk opened #84 "Overwriting ES Document"
I am using monstache to sync mongo to ES but making changes directly to ES in addition to changes through mongo. The problem I am having is that an update in mongo triggers an index operation in ES which overwrites the document. Is there a setting to make monstache do an update operation instead? Or any other solution to prevent changes being overwritten?

[2018-06-28 12:48] richiarora commented on #81
Hi another thing to note : If graylog address is provided and say i start monstache but db is already down or elasticsearch is already down then i dont get those logs in Graylog.

[2018-06-28 13:09] rwynn commented on #84
There is no setting currently that would enable an update but I will look into it.

It seems promising on reading to simply use an update request with an docAsUpsert flag set to true.

I would need to test switching the current index request to this https://github.com/olivere/elastic/blob/release-branch.v6/bulk_update_request.go

[2018-06-28 13:14] rwynn commented on #84
On a related note, Monstache does not support updating/sending only the fields that have changed in the MongoDB document.

This is simply due to the complexity of doing it correctly across MongoDB and Elasticsearch releases.

[2018-06-28 15:58] Gittekken commented on #80
no problem I ended up creating a dedicated collection for insertions using changestreams.

[2018-06-28 16:03] #80 closed

[2018-06-29 09:36] andyh69uk commented on #84
Thanks for the quick reply, cool I will await any changes :)

[2018-06-29 10:07] sfrenot opened #85 "findOne cannot select field"
I think that we can select fields with find query,
but not with findOne query.

[code]
works, but
[code]
isn't.

---
I also have a problem with select{"_id": } that I presume is not working.

[2018-07-03 01:36] #85 closed

[2018-07-04 03:09] rwynn commented on #84
@andyh69uk can you try with the new `index-as-update` setting set to true.  You can simply pass `-index-as-update` to the monstache command or put `index-as-update=true` in a config file.

[2018-07-04 07:36] deepanuchiha opened #86 "Referencing other documents for routing"
Hi,
I'm trying to use monstache to sync ES and MongoDB. I've created indexes based on the data.
For example, I have two collections namely fruits and states. I want to sync fruits collection to ES.
**fruits collection** {
name: "apple",
state: "alabama"
}
**states collection** {
name: "alabama",
country: "United States"
}

Now I've created indexes in ES with Country names. I want to get the countr

[2018-07-04 14:32] andyh69uk commented on #84
Awesome, I have a slight problem with building code on the destination system, any chance of getting a build for this commit?

[2018-07-04 14:33] SimonKempf commented on #83
Okay, thanks a lot for those info :)

[2018-07-06 00:50] rwynn commented on #86
yes, it should be possible.

[code]

[2018-07-06 07:34] deepanuchiha commented on #86
Thanks a ton for the quick response :)
It's working like a charm. I better take a good look at the documentation. :+1:

[2018-07-07 15:42] #71 closed

[2018-07-07 15:43] rwynn commented on #84
@andyh69uk just pushed new versions of monstache that have this new option.  Please let me know how that goes.

[2018-07-07 17:18] andyh69uk commented on #84
Awesome, I'll check it out first thing Monday and let you know, thank you :)

[2018-07-09 12:29] andyh69uk commented on #84
All working, thank you so much

[2018-07-17 05:42] philrogers opened #87 "Feature Request"
Would be good to be able to fix a field that will become a AutoCreate index on Elasticsearch. I am dealing with some epoch ms date fields that look like this in mongo
"start_timestamp" : NumberLong("1530195683803000")

fields needs to be divided by 1000 and turned to a date data type before sent into elasticsearch. Would be good if you could set a rule in Config for a collection name fieldname

[2018-07-17 18:24] rwynn commented on #87
@philrogers have you tried creating a date mapping in Elasticsearch for the field before indexing?
https://www.elastic.co/guide/en/elasticsearch/reference/current/date.html
From reading that link, Elasticsearch, by default, will use the format `strict_date_optional_time||epoch_millis` provided you have a explicit mapping indicating the field is a date.

Alternatively, monstache allows defining a j

[2018-07-19 18:00] rwynn commented on #81
I’ve added a wait to the latest version in the scenario of a fatal error. Hopefully this will fix the issue of the logs not having enough time to flush to graylog.

[2018-07-20 15:30] richiarora commented on #81
sure I will check and update here.
Also wanted to know if there is reelection in replica set then there wont be any loss of updates right?

[2018-07-25 06:13] dischob opened #88 "Syncing deleted items"
I'm using MongoDB 3.4.5, ElasticSearch 6.3.1 and Monstache 4.8.0.
When I delete an item in MongoDB, it is not deleted in ElasticSearch.
I read about the oplog in MongoDB, that should be fine. I'm using the default settings for delete-strategy (0).

At the moment no clue why delete is not working. Anyone some help for me?
I included the conf file for Monstache.
![config](https://user-images.githubu

[2018-07-25 12:34] rwynn commented on #88
Does scoping the search to a specific index help?

delete-index-pattern = “someName-view-somedata”

Also try without any namespace regex applied.

[2018-07-25 12:38] dischob commented on #88
I use the namespace regex to only sync the views in my MongoDB.
There are about 6 collections that need to be synced. Does the delete-index-pattern still work the same way then?

[2018-07-25 12:53] rwynn commented on #88
When a delete operation is read from the oplog the namespace has to match the regex and only if that happens it proceeds to do a search in Elasticsearch for a doc with the same _id as the _id that was deleted. If that search returns exactly 1 document then a delete is issued to Elasticsearch.  The delete-index-pattern is the scope of that search. Defaults to all indexes.

[2018-07-25 13:22] rwynn commented on #88
It actually doesn’t even do the search in Elasticsearch if a simple mapping is used like you have. The best thing to do would be to turn verbose on and try a manual delete. That will at least show if a request is made and what it is.  You will probably want to run with direct reads OFF since those will flood the log.

[2018-07-25 15:52] rwynn commented on #88
I’ll take a look when I get some time. The tests are passing and they include verifying a delete. But they don’t test all possible configurations.  E.g. they don’t include a namespace filter or a mapping.

[2018-07-25 18:15] rwynn commented on #88
It just dawned on me that you are using the view feature in MongoDB. I have not done any testing/research with views but I will look into it. Since views are read only I’m assuming you are doing the delete operation on the underlying collection not the view?

My guess is that the oplog will only contain namespaces that match collections not views since the views are a projection of this underlying

[2018-07-25 19:57] dischob commented on #88
I am not using the view function. I call it view because it is a view of data from different collections. The view is build in the domain.

[2018-07-25 20:33] rwynn commented on #88
Ok, I misunderstood.  Thought you were using the newish [view feature](https://docs.mongodb.com/manual/core/views/) of MongoDB which as it turns out is probably a use case I should handle.  I need to make a few changes to support that.

Anyway, in that case I am not able to reproduce the problem with deletes yet then.  I tried to replicate your config (including the regex) and when I issued a manu

[2018-07-25 21:56] rwynn commented on #88
I also cannot seem to replicate the issue on MongoDB server version: 3.4.16.  Are you using sharding by any chance?

Do you see the delete operations being logged in the oplog?

[code]

[2018-07-26 06:14] dischob commented on #88
Maybe I should elaborate a bit more about the setup. Because I think it has something todo with the update to the new version of ElasticSearch.
My index in ElasticSearch looks as follows:
index: database name . collection name
type: collection name _1 (alias = collection name)
Each time the app starts, it checks the settings and mappings. If there is any change, an update is done. The type will be

[2018-07-26 11:41] VitaliStupin opened #89 "_oplog_ts and _oplog_date field names could be configurable"
Currently _oplog_ts and _oplog_date field names are hard-coded, but it would be useful to be able to change these names. Kibana for example does not allow to use these fields: "kibana field names beginning with _ are not supported".

Also it would be nice to be able to change date format for _oplog_date, because currently used one ("2006/01/02 15:04:05") in uncommon for a lot of countries.

[2018-07-26 14:14] rwynn commented on #88
I'm not sure what you mean by the type having an alias.  My understanding is that only indexes may be aliased.  Do you mean you are using index aliases?

At a basic level, you indicated that monstache does not even make a delete request at verbose level when you delete something in MongoDB.  If this is the case it would not matter how Elasticsearch is setup.

By delete request I mean something lik

[2018-07-27 00:40] rwynn commented on #88
Also can you try the following in your config:

[code]

That combined with a stateless delete with force monstache to do a **search** by id for the document before scheduling it for deletion.
https://github.com/rwynn/monstache/blob/master/monstache.go#L2402

Sounds like you re-index to a new type and switch the index alias pointer on an update.  Problem is that monstache uses the type information

[2018-07-27 01:01] #84 closed

[2018-07-27 01:02] #86 closed

[2018-07-27 07:18] dischob commented on #88
Ok I finally get a delete showing up in the verbose and it is working now. Looks like it was more a typo on my side. :(
The one thing that still bothers a bit is the speed. I delete an item in UI, the page is refreshed and the item is still there because the syncing is only done a second later. Is there anything I can do about that or not?
I tried playing with the gtm-channel-size and gtm-buffer-s

[2018-07-27 12:08] rwynn commented on #88
Try elasticsearch-max-seconds setting.

[2018-07-27 12:16] rwynn commented on #88
When you configure direct reads, the default for max-seconds gets bumped to 5s. This is because you don’t want to force flush too often when reading millions of documents. You would rather send large bulk requests than small. However you can override this by just explicitly setting max seconds to e.g 1.   After a second all changes to MongoDB will be flushed to Elasticsearch.

[2018-07-27 12:29] dischob commented on #88
Ok thank you very much for your help! I don't think I need further assistence on this matter.

[2018-07-27 12:29] #88 closed

[2018-07-27 22:50] rwynn commented on #88
Thanks. Just wanted to mention that you could use a 2 process approach.

The first monstache process could be configured for realtime updates with an `elasticsearch-max-docs` set to 1 and no direct reads configured.  This will flush each change as soon as it reads from the oplog with no buffering.

Then you can periodically run a 2nd monstache process with the defaults except for the addition of `

[2018-07-27 22:57] rwynn commented on #88
Also for the real-time process you will probably want to increase elasticsearch-max-conns (# of concurrent clients) to maybe 20 since they will each by sending 1 update at a time.

You would not want to increase the max conns for the 2nd case since each conn buffers up 8mb.  You could overload Elasticsearch that way.

[2018-07-29 14:40] Pylipala opened #90 "Eating too much memory"
It eats up to 1.65 GB on my 4GB server
[code]
As far as I can see, a syncing program should not eat so much memory.
Is it normal? How much memory it takes on your machine?

[2018-07-30 03:31] rwynn commented on #90
You can also set direct-read-split-max to 1 to further reduce memory usage.

[2018-07-30 12:36] Pylipala commented on #90
You are right, I should have run into error loop. It keeps printing
[code]
Thanks for your quick response. I will see if I could use some transformation to make it work.

[2018-07-30 14:22] Pylipala commented on #90
You are right. Field `_doc._source.Stats.Workers.Queued` of `monstache.stats.2018-07-30` index is growing bigger and bigger.
![image](https://user-images.githubusercontent.com/1218075/43403155-0054a7ac-9447-11e8-89f6-f05fc035659e.png)

[2018-07-30 15:19] Pylipala commented on #90
I was using a docker built 3 weeks ago. Then I upgraded it today to a version built 3 days ago. The problem still exists.

[2018-07-30 15:59] rwynn commented on #90
You can probably get rid of a lot of the errors by setting the `prune-invalid-json` config to true.  That will help to move the documents out being queued in memory and into Elasticsearch.

https://rwynn.github.io/monstache-site/config/#prune-invalid-json

I also added a commit to the elastic client a few weeks back that should prevent these items with JSON serialization errors from being queued (

[2018-07-30 16:02] rwynn commented on #90
It appears that my PR was only applied to the Elasticsearch v6 client and not the v5 client.

https://github.com/olivere/elastic/blob/release-branch.v5/bulk_processor.go

You will see from that code that the request is added regardless of whether or not it will eventually error out in the transform to JSON.

https://github.com/olivere/elastic/blob/release-branch.v5/bulk_processor.go#L454

[2018-07-30 16:11] rwynn commented on #90
So all together I would recommend that for your use case you try with

[code]
Please let me know if that helps with the number queued in the stats and the memory usage.

[2018-07-31 15:26] Pylipala commented on #90
Yes it works, memory usage is limited to 250MB now.

Thank you very much.

My monstache version is below:
[code]

[2018-07-31 15:35] Pylipala commented on #90
You are right. Field `_doc._source.Stats.Workers.Queued` of `monstache.stats.2018-07-30` index is growing bigger and bigger.
![image](https://user-images.githubusercontent.com/1218075/43403155-0054a7ac-9447-11e8-89f6-f05fc035659e.png)

[2018-08-03 22:50] #90 closed

[2018-08-03 22:53] rwynn commented on #87
@philrogers glad to hear you were able to use monstache to build your dashboard.  For some reason I was not able to view it, but I'm sure it's awesome :-)  I'll close this but please open another issue if you run into problems.

[2018-08-03 22:54] #87 closed

[2018-08-06 07:33] VitaliStupin commented on #89
Thank you for the quick fix!

[2018-08-06 07:33] #89 closed

[2018-08-06 11:14] rockowtham opened #91 "No Activity in elastic search"
Hi ,

      I have installsed monstash and elastic search trying to index the mongo db data but there is no activity in the Elasticsearch.

When i start using command
[code]

In the elastic search also i cant find any activity happening.

This is my monstache config file

[code]

I start mongodb using this command
`mongod --port 27017 --dbpath data/mongodb/rs0 `

Kindly help to solve this.

[2018-08-06 12:31] rwynn commented on #91
You need to declare direct-read-namespaces if you want to copy collections. By default monstache just listens for changes.

[2018-08-06 13:40] rwynn commented on #91
Yes it’s all in the documentation.  You can use JavaScript or Go.

https://rwynn.github.io/monstache-site/advanced/

[2018-08-07 01:59] philrogers commented on #87
Thank you for your help

From: Ryan Wynn <notifications@github.com>
Sent: Saturday, 4 August 2018 8:54 AM
To: rwynn/monstache <monstache@noreply.github.com>
Cc: Phil Rogers <progers@iprimus.com.au>; Mention <mention@noreply.github.com>
Subject: Re: [rwynn/monstache] Feature Request (#87)

@philrogers <https://github.com/philrogers>  glad to hear you were able to use monstache to build your dashboa

[2018-08-08 14:09] raffaeleguidi opened #92 "is it safe to use direct-reads to partially index a 100s of millions mongo collection?"
Hi, I was reading your documentation about direct reads and I was wondering whether direct-reads are the correct approach, should I index only the last few millions of a large (100s of millions) collection. I am afraid that loading all the documents (to just pick a few of them) would hurt the production database I am attaching to.
Wouldn't be good having a way to express a filter using own mongo q

[2018-08-08 18:51] raffaeleguidi commented on #92
But isn't that timestamp intended only to filter the oplog? The bulk of the collection is not in the oplog anymore

[2018-08-08 19:55] rwynn commented on #92
Yes that only works on the oplog. Currently monstache does not support customized queries. This feature would need to be added.

It would be a good addition. I would need to first add the feature to the gtm library and then surface the configuration through monstache. Most of what monstache does in Mongodb goes through rwynn/gtm.

[2018-08-08 20:12] rwynn commented on #92
You could possibly create views in Mongodb for your collections that would be based off a date query. Then you can use the view instead of the collection in your direct reads.

https://docs.mongodb.com/manual/core/views

However I’ve tried this and it requires a one line change to gtm to remove the SetCursorTimeout call since this is not allowed on views.  So you would have to checkout gtm modify

[2018-08-08 20:58] rwynn commented on #92
Here is an example of what I mean:

Given a collection `test` in db `test` with a field `d` which is a date field.  Before running monstache we run the following in a script against MongoDB to drop/create the view with the built in time range (in this case d >= 15 days ago).

[code]
Then you can use the following in monstache:

[code]

However, as I mentioned before you would need to alter the gtm

[2018-08-08 21:07] rwynn commented on #92
This is the line you would need to remove:
https://github.com/rwynn/gtm/blob/master/gtm.go#L927

[2018-08-09 01:32] rwynn commented on #92
If you need an option that is supported with the latest release version of monstache.

[code]

This filter will happen in monstache and will be run against all records in the collection.  The result will be that most records are thrown away.  This will obviously be much slower than had your filter been applied by MongoDB.  But it's the best I can do with how monstache works currently.

[2018-08-09 07:34] pet2016 opened #93 "How configure elasticsearch date format，e.g. 'date_detection' => false"
when i synchronous data ,  I'm getting the following error when I run monstache: "failed to parse [abnormalList.remDate]"

I  know  the reason is this  elasticsearche  default  automatic recognition date format , how do i cancel the automatic recognition date format ? e.g. 'date_detection' => false

[2018-08-09 10:09] #93 closed

[2018-08-09 19:33] #91 closed

[2018-08-10 10:53] philrogers commented on #87
Hi Ryan,

I have a quick question

I have a mongo object that is big a subset of the data looks like this

"log" : [ { "status" : "requested", "timestamp" : ISODate("2018-05-28T03:27:37.840Z") }, { "status" : "delayed", "timestamp" : ISODate("2018-05-28T03:27:37.949Z") }, { "status" : "requested", "timestamp" : ISODate("2018-05-28T03:28:41.585Z") }, { "status" : "scheduled", "timestamp" : ISODate(

[2018-08-10 12:07] rwynn commented on #87
@philrogers maybe this will help.  Given docs in MongoDB with a createdAt ISODate field...

[code]

If you store the field in MongoDB as a Date or ISODate, is it surfaced to scripts as a Go **time.Time** object in javascript. That is why the above script is calling function (https://golang.org/pkg/time/#Unix).

If you create a Date() object in the script itself, then that has the properties of a n

[2018-08-10 16:14] raffaeleguidi commented on #92
well, as a quick solution I will try to use the "filter" workaround, but attaching to a clone of the mongo cluster and see how it goes and will wait for these changes to show up in a production release, just to play it safely :+1:

Thanks a lot for your help :)

[2018-08-10 18:27] raffaeleguidi commented on #92
Ok, I added the filter script to the configuration and the name of the collection in the direct reads array - the cpu obviously spins at 200% and I still cannot see anything indexed (well, it is skipping several millions documents, I expect it to be normal); only thing I see a lot of errors like these in the logs:

any idea?

[2018-08-10 19:49] rwynn commented on #92
Is it possible some of the documents do not contain the date field?  You can return false for those.

[2018-08-10 20:51] raffaeleguidi commented on #92
Uhm, I would exclude that - and I do not have a simple way to check it out, because the log message does not have a document _id attached, but, in any case, the indexing is going fine and it added 3M+ documents to the index without adding too much pressure to the db (monstache is the only user, though). I will leave the issue open just to let you know how it goes but I expect a happy end ;)

[2018-08-10 22:40] rwynn commented on #92
If you have success you can switch over to Go middleware instead of JavaScript. That should perform better.

https://rwynn.github.io/monstache-site/advanced/

[2018-08-11 04:00] philrogers commented on #87
Hi Ryan

Your a legend ts.Unix()*1000) did the trick.

Just one last question if I then calculated 2 new fields and wished to add to the doc object as integer is that possible. Sorry for all the questions.

Regards

Phil

From: Ryan Wynn <notifications@github.com>
Sent: Friday, 10 August 2018 10:08 PM
To: rwynn/monstache <monstache@noreply.github.com>
Cc: Phil Rogers <progers@iprimus.com.au>; Ment

[2018-08-11 07:04] raffaeleguidi commented on #92
Aaagh, nodejs dude here - that hurts a bit ;) Any clear evidence about that? I understand that otto should be performant and I believe these kind of operations, being heavily I/O bound should not be affected too much by the language/runtime are made on. I would expect, probably, less cpu usage, but indexing speed should not vary too much.

In any case the little guy did his job flawlessly (I will

[2018-08-11 07:04] #92 closed

[2018-08-11 07:35] raffaeleguidi commented on #92
BTW you were right, the timestamp was missing (a bug on my side), I simply _trycatched_ the  return statement and logged the exception and found it out

[2018-08-11 08:06] JeromeGe opened #94 "synchronization failed, can't merge."
[code]

mongodb 3.2.19
elasticsearch 5.6.4
monstache 3.16.0

[2018-08-11 11:46] rwynn commented on #87
Yep as long as you are within a [script] function all new fields added to the doc in the script get indexed.

[2018-08-11 11:54] rwynn commented on #92
Well, the Otto JavaScript interpreter itself is not thread safe I’ve found and I need to acquire a lock around running these filter functions. Kinda like a Global interpreter lock. The Go plugin doesn’t require this lock so that alone would allow it to perform better.

[2018-08-11 12:04] rwynn commented on #94
Are you indexing into an existing index?  It looks like there is a field mapping clash.

[2018-08-11 12:16] rwynn commented on #94
It looks like attibute.value can be a string, object or array. You may need to use a [script] to make them all array of objects so they are all the same shape.  Elasticsearch does not like same field in the index to have different form in the input.

[2018-08-11 22:52] philrogers commented on #87
That field was suppose to say Delaysecs

just want to append that field to the doc object in the Javascript function

Assume the field exists in elasticsearch index

[2018-08-12 01:43] rwynn commented on #87
@philrogers if I understand you correctly you want to add a new calculated field before indexing in Elasticsearch.  You can do that with a script.

[code]

[2018-08-12 17:29] raffaeleguidi commented on #92
Uhm, I see... don't what to dig in deep about the need for a lock, but I wonder whether stdin/out could be used as a middleware. Wouldn't would be interesting to be able to pipe every record into another process (i.e. a nodejs one [:grin])?

[2018-08-13 12:27] pet2016 opened #95 "When MongoDB data contains values like +Infinity, -Infinity, NaN, or invalid dates"
when MongoDB data contains values like +Infinity, -Infinity, NaN, or invalid dates，i don't want to drop the values，and synchronous values to elasticsearch, What am I supposed to do?

[2018-08-13 12:34] rwynn commented on #95
You can use a script to change the values. The problem is that these values are not allowed by the go json serializer.

[2018-08-14 06:05] pet2016 commented on #95
Okay, thank you

[2018-08-14 06:05] #95 closed

[2018-08-14 19:16] zvictor commented on #86
Hi @rwynn,

Thank you for your great work in this tool! beautifully done 👌
I have a question and I will use this issue here as base for my post because I believe the question raises naturally from the solution you proposed above.

If I am fetching `country` from another collection and storing it inside `fruit` whenever there is an insert or update in the `fruit` doc, **how can I keep all the `coun

[2018-08-15 12:29] metanav opened #96 "MongoDB aggregation in Middleware?"
Can we do aggregation on the collection in the middleware (preferably in Javascript)?
I want to sync a set of MongoDB documents as an aggregated document in Elasticsearch.

[2018-08-15 20:14] rwynn commented on #86
@zvictor Thanks, I hope you’re finding this to be useful. Sorry I’ve been busy lately and didn’t get a chance to respond. I will think about this a bit more when I get a some free time but I’m not sure monstache is currently designed to handle your use case well.

One reason is that monstache is designed such that the document _id cannot be overridden in a script. The _id that’s passed to Elastics

[2018-08-15 20:56] rwynn commented on #96
Are you referring to doing an aggregation/pipeline call inside a script or do you mean reading a collection as the result of running a pipeline instead of as the set of all raw records?  The latter would be run before any scripts are invoked. The former inside a script.

[2018-08-15 23:46] metanav commented on #96
I mean inside a script. When a document  is added/modified in mongodb, the middleware script gets a reference of the document and it would call an aggregation pipeline on the same collection for related documents of the current document and the result will be saved in elastic.

[2018-08-16 00:29] rwynn commented on #96
Thanks. I will look into adding that.

[2018-08-16 00:40] metanav commented on #96
Thanks @rwynn. One more thing you may consider: the aggregation pipeline can have a lookup stage to fetch documents from other collections.

[2018-08-16 00:41] metanav commented on #96
I think this  can be done using the middleware go plugin? But I wanted to do in Javascript.

[2018-08-16 01:26] rwynn commented on #96
Yes this should be possible today with a go plugin since it surfaces the mgo.Session providing access to the Pipeline function.

For this issue I was planning to surface the Pipeline function via JavaScript like what it currently implemented for find, findOne, etc.

[2018-08-16 07:27] VitaliStupin opened #97 "Missing items after direct-read"
I found a problem that when I transfer full MongoDB collection (100k+ items) with "direct-read-namespaces" option then a small amount of items is missing in Elasticsearch. I also found that these missing items usually come in one or couple of batches of items ordered by order of insertion into MongoDB. Therefore I assume that some of the batches received from MongoDB just get lost in the process.

[2018-08-16 12:41] rwynn commented on #97
Can you take out exit-after-direct-reads and see if they all make it eventually.

[2018-08-16 13:00] VitaliStupin commented on #97
I have tested now couple of times without the exit-after-direct-reads option and you are right, it does work better this way, and all the documents get transfrered.

Does that mean that separate threads that fetch data from MongoDB are lacking some lock mechanism and the main program exits before all threads are finished transferring the data?

That makes me think that one other problem I am exper

[2018-08-16 15:57] rwynn commented on #97
All the threads that fetch data put each record onto a channel. When each thread finishes it signals a wait group.

Monstache waits on the wait group in the case of exit-after.  When this lock gets released it means that all the readers are finished writing to a channel.  Monstache does a flush to Elasticsearch at this point.

But there could still be work that has not been read off that channel a

[2018-08-21 10:18] JeromeGe commented on #94
Thanks, solved, this is my document problem, I turned the array into string.

[2018-08-29 06:42] sbnajardhane opened #98 "Plugin is overwriting the data store in denormalized document."
@rwynn
I have user and users transaction collection in my MongoDB and wanted to have filters on most of the fields in users and some fields from the transaction. (username, date of birth, last transaction date greater than, no. of transaction greater than something like this). So I am planning to denormalize this data and store in the user document.
I am using the Monstache plugin to sync only the

[2018-08-29 07:56] rwynn commented on #98
Are you using a script to omit the fields that you don’t want from MongoDB?  Have you looked into the config option index-as-update?

[2018-08-29 08:52] rwynn commented on #98
Index-as-update = true in your monstache config should help.

[2018-08-29 09:30] sbnajardhane commented on #98
It worked.
Thanks for the quick response. :+1:

@rwynn  One more question, In the above scenario I am updating those fields when any transaction occur in my application.
Is it possible to use this plugin to update the transaction_count and last_transaction_date, etc fields into the user document whenever their is an update, insert in the mongo Transaction collection. I was thinking of executing a

[2018-08-29 12:47] rwynn commented on #98
I cannot think of a good way to accomplish your task with Monstache. Monstache was built as a one to one sync engine so it can sync updates to transactions when transactions change but not sync users when transactions change.

You could run Monstache periodically according to how often transactions change but obviously not real-time.

You might look at rwynn/gtm which could help run a script when

[2018-08-30 10:00] VitaliStupin opened #99 "Feature request: go plugin could access Elasticsearch or return several documents"
Monstache go plugins are able to access MongoDB session. It would be nice to be able to additionally have access to Elasticsearch session to perform custom inserts/updates/deletes.

For example I am currently using Monstache plugin to partition data based on a certain field values (monthly partitions based on timestamp). But sometimes this field value gets updated in MongoDB and the document needs

[2018-08-30 20:37] #94 closed

[2018-08-31 01:04] rwynn commented on #97
Think I have a fix for this. I’ll update this issue when I get a chance to test and commit.  Might be a little while due to some other priorities I have.

[2018-09-04 20:29] #79 closed

[2018-09-05 19:01] #83 closed

[2018-09-06 00:00] nitineman opened #100 "Binary Files from Non GridFS Collections"
Hi,

Im trying to onboard an application where multiple collections with its corresponding Binary File. The Monstache project seems exciting to go ahead for our purposes.

- The dummy document which we store in the actual Collection and in another Binary File collection which holds the reference (actual) document and the Metatdata and Binary File Array within the collection.

- Can you please help

[2018-09-06 03:35] nitineman commented on #100
Hi @rwynn ,

The only advantage I was checking out for was aggregate pipeline which will give flexible control on oplog watch on the desired collections and the CRUD operations.

Also, can you please suggest whether my understanding is correct - A 3 replica set MongoDB server with oplog setup on BareMetal hardware(non VM linux) administered by DBAs and not our DevOPS team can still be subscribed b

[2018-09-07 01:33] rwynn commented on #97
@VitaliStupin this should be fixed now in the master branch.  You would need to build it manually unit I get a chance to make a formal release

[2018-09-07 01:40] rwynn commented on #96
@metanav I've added the ability to do this via a new `pipe` function to the master branch.  It looks like this...

[code]
The first argument to `pipe` is the aggregation pipeline to run.  The second optional argument allows you to set the db and collection like you can with the `find` function. e.g. `{ db: "db1", collection: "col2" }`.

[2018-09-07 01:45] rwynn commented on #99
@VitaliStupin if you build from master you can now add a new function named `Process` to your golang plugin.  This function will get called with a new input, `ProcessPluginInput`, which gives you access to the elastic client and the bulk processor.

https://github.com/rwynn/monstache/blob/master/monstachemap/plugin.go

The `Process` function signature should be `func(*monstachemap.ProcessPluginInp

[2018-09-07 01:46] metanav commented on #96
@rwynn Thanks! I will test it later and let you know.

[2018-09-07 01:58] rwynn commented on #100
@nitineman you should be able to accomplish what you need by creating a golang plugin and implementing the `Map` function.  Within this function you have access to the `mgo.Session` which you can use to cross reference the 2nd collection and retrieve the binary.  You would just need to convert that binary to base64 and set it on the output of the `Map` function.  This is basically what monstache d

[2018-09-07 02:03] rwynn commented on #96
@metanav  you can also now use change streams via `change-stream-namespaces` option.  Finally, you can apply aggregation to both direct reads and change streams via a definition like this....

[code]

[2018-09-07 02:06] rwynn commented on #63
@richiarora initial support for change streams is in master now.

[code]

The pipeline part is optional if you would like to perform an aggregation on both the direct read of the collection and the change events.

[2018-09-07 02:13] nitineman commented on #100
Thanks  @rwynn I will take note of this and will come back in case of any further concerns.

[2018-09-07 02:13] #100 closed

[2018-09-07 08:37] VitaliStupin commented on #97
Thank you! Confirming that direct-read-namespaces is now working properly with "exit-after-direct-reads = true".

I will need some time to also test the second problem with "Cannot kill pinned cursor" errors.

[2018-09-07 20:32] richiarora commented on #63
@rwynn glad to hear that will definitely give it a try and update here.

[2018-09-07 20:50] rwynn commented on #63
I’ve identified an issue with the pipeline part so you may want hold off on that a bit longer. Basically for change stream events you need to $match on fullDocument.foo instead of just foo. I will be adding a flag to indicate whether it’s a change stream or not so the $match can be built accordingly.

[2018-09-08 07:42] jindov opened #101 "Error when using with mongodb has authentication"
Recently, I init authentication for mongodb, and monstache can not connect to mongodb anymore with this error:
[code]
this is my command:
`./monstache -mongo-url mongodb://user:pass@172.24.0.3:27017/mydb -elasticsearch-url http://172.24.0.9:9200`
Thanks

[2018-09-08 09:48] jindov commented on #101
Closed, my bad

[2018-09-08 09:48] #101 closed

[2018-09-08 11:52] rwynn commented on #63
With the latest code you can use something like this:

[code]

[2018-09-09 02:09] VitaliStupin commented on #99
Process function is a great addition, but now I understood that it might be further improved. Mongo object id is not available for plugin (or I cannot find that?), and it is probably not necessary for "Map" function, because the addition to elastic is done by Monstache. But for Process func it might be useful if there is a need to update or delete items created by "Process" function.

[2018-09-09 02:17] rwynn commented on #99
That sounds like a good idea. I think I will make available oplog Timestamp as well as that is used by default as the Elasticsearch version number.

[2018-09-09 20:12] rwynn commented on #99
You should now be able to access at input.Document["_id"]. Thanks.

[2018-09-11 08:44] VitaliStupin commented on #99
Thank you! This addition works for me perfectly.

[2018-09-11 08:44] #99 closed

[2018-09-12 14:50] VitaliStupin commented on #97
It seems that the i/o timeout problem with default channel-size ("Cannot kill pinned cursor" in mongo log) is still present. So it is a different issue. But this time segment repeating did not last infinitely, and the process finished successfully. So the fix had positive influence, but some different problem may still exist.

[2018-09-12 18:04] rwynn commented on #97
@VitaliStupin from what I've read applying the socket timeout setting like in this commit might fix it.

https://github.com/mongodb/mongo-tools/commit/3aec8b5e7fb1a7473fd3b705f0220a721745ff77

[2018-09-13 01:38] rwynn commented on #97
Are you able to try setting the 3 timeouts under mongo-dial-settings and mongo-session-settings to something like 600 each. That’s seconds.

I have an upcoming change to make more timeouts configurable. But until then you might try the upping existing options.

I think the client is forcing the socket to close after not getting timely response and trying to kill the cursor but MongoDB is still wor

[2018-09-14 07:32] VitaliStupin commented on #97
I have actually tried increasing timeouts previously with:
[mongo-session-settings]
socket-timeout = 300
sync-timeout = 300

And that did not give any results, I did not try to increase the connection timeout because mongo gives error about closing existing connection, therefore connection was created and used.

I also checked in mongodb log that all queries were no longer than 1 second, so there

[2018-09-14 11:27] rwynn commented on #97
Have you tried the latest monstache?  I surfaced more timeouts from the mgo driver and upped the default values.

I also noticed that the 10s initial connect timeout was being used as the read and write timeout if either of those was not explicitly defined. So I’ve now explicitly defined those 2.

[2018-09-14 20:55] rwynn commented on #97
@VitaliStupin I will close this issue about the missing items.  Please open a new issue if you still have i/o timeout with 4.10.1.

[2018-09-14 20:55] #97 closed

[2018-09-17 06:46] sbnajardhane opened #102 "Getting tailing oplog entries error when using resume mode."
Hi @rwynn ,
I am continuously getting this error in my Monstache error.log when resume mode is set to true. Though everything is working fine, last update time is being stored properly into the monstache.monstache collection, also the data is syncing properly.

ERROR 2018/09/17 12:03:27 Error tailing oplog entries: read tcp 127.0.0.1:35402->127.0.0.1:27017: i/o timeout
ERROR 2018/09/17 12:03:37 Er

[2018-09-17 11:36] rwynn commented on #102
Is this with the very latest version of monstache?  There was some work on adjusting the default timeouts lately.

Looks like this error is happening every 10 seconds.

[2018-09-17 12:34] sbnajardhane commented on #102
I am using v4.9.0.
I have tried with the latest version v4.10.1 also, still getting the same error
tried with these configurations. (added at the end of config):
[mongo-dial-settings]
timeout=10
read-timeout=600
write-timeout=30

[mongo-session-settings]
socket-timeout=600
sync-timeout=600

[2018-09-17 12:43] rwynn commented on #102
Can you try upping the 1st timeout to 600?  Then check how far apart the error log messages are?

Then finally try setting the first 3 timeouts above to 0.

[2018-09-17 12:57] sbnajardhane commented on #102
For first config timeout - 600, getting the error after 10s
[code]

Same for the 2nd one
[code]

[2018-09-17 12:59] rwynn commented on #102
You mentioned “when resume mode is true”.  Do you not see this error if resume is false?

[2018-09-17 13:04] sbnajardhane commented on #102
Yes, only if resume = true
not getting this error if I set resume to false.

[2018-09-17 13:14] rwynn commented on #102
Ok I’ll look into it.  Thanks.

[2018-09-18 03:37] rwynn commented on #102
@sbnajardhane please give the latest release a shot and let me know.  I was not immediately able to reproduce the issue with resume enabled.  But I did make some changes specifically in the resume case to remove some socket timeouts being set.

[2018-09-18 07:37] sbnajardhane commented on #102
@rwynn  yes, it worked. thanks for the quick response. :+1:

[2018-09-18 09:01] sbnajardhane commented on #102
@rwynn Help Required,
I am sure about how to use the workers.
Could you please explain more about the workers? How many workers should I create so that I am not underutilizing or over killing? (consider during peak time, 50 oplog/sec entries are getting created, so what should be the workers' config.)
Also how to start multiple workers using systemd config?

[2018-09-18 11:03] purno998 opened #103 "Is it possible to access elasticsearch from Javascript middleware?"
From javascript we have access to some global functions like _findId_, _findOne_ to retrieve documents from MongoDB. Are there any similar functions to retrieve documents from Elasticseach as well? Or is there any way to access the Elasticsearch client from javascript?

[2018-09-18 11:55] rwynn commented on #103
No it is not currently possible in JavaScript.

You would need to use a go plugin and implement the Process function which gets access to everything.

[2018-09-18 13:33] #103 closed

[2018-09-19 08:12] sbnajardhane opened #104 "Workers are not syncing data to elastic cluster"
@rwynn Help Required,
All Workers are not syncing to the elastic cluster.
I have this config file and I have started 3 workers using
[code]
So after starting 3 workers, the syncing process is working fine.
I am assuming that multiple workers will distribute the work between them and if any of the workers go down another two will continue syncing.
So, I killed w3 worker, w1 and w2 are running but n

[2018-09-19 08:13] #102 closed

[2018-09-19 11:27] rwynn commented on #104
Sounds like you don’t need workers but high availability. Remove the workers config and just give all process the same cluster-name.

For systemd you can just create a unit file per processes.

[2018-09-19 12:10] rwynn commented on #104
If you do want to combine ha (cluster-name) with workers then you need to have multiple processes for each worker name.  You can have 3 worker A but at least one worker A must be running at any given time.

[2018-09-19 19:03] BrunoPereira opened #105 "Error using sharded mongo"
@rwynn I need your help

I'm using your docker image and can't connect to the shards.
Bellow are the info and error logs.
**info:**
INFO 2018/09/19 17:49:32 Successfully connected to MongoDB version 3.2.16
INFO 2018/09/19 17:49:32 Successfully connected to Elasticsearch version 5.6.3
INFO 2018/09/19 17:49:32 Adding shard found at SVLMNIQDB04:27018?replicaSet=repSet01
INFO 2018/09/19 17:49:42 Shutt

[2018-09-19 21:35] rwynn commented on #105
Does a similar error happen if you try to connect directly to the mongod shard only by specifying it’s URL in mongo-url and clearing mongo-config-url?

[2018-09-20 00:31] #96 closed

[2018-09-20 00:32] #63 closed

[2018-09-20 00:32] #74 closed

[2018-09-20 03:08] alexdpoon opened #106 "monstache exits without error messages"
I'm having an issue where monstache runs fine when it runs, but exits for no reason.  Sometimes it will run for 24+ hours without issue, and other times it will quit after 2 hours.   No error messages are outputted when the process exits, so it's really difficult to figure out the reason.  For now, I've had to turn on the http server and thing use an external http-based monitoring service to alert

[2018-09-20 04:12] rwynn commented on #105
I wasn't able to replicate the issue immediately but I have the sharded cluster running in a single VM.  Did you execute the ping from inside the monstache Docker container?

This is what I'm getting.

[code]

[2018-09-20 10:16] Crispy1975 opened #107 "MongoDB View Replication"
I have an interesting idea that I might try and work on... we are looking to make use of MongoDB views more in our applications, with the concept that our aggregate view constructs the document we wish to be present in Elasticsearch, thereby offloading a lot of work to the database and reducing the complexity of queries to ES.

The issue I see is that the opLog will only detail changes to the Mong

[2018-09-20 10:38] rwynn commented on #107
This can be done in recent versions of monstache using the new pipeline settings which allow you to return aggregation stages with a $match clause.

You can even apply stages to a change stream but it seems certain stages are not allowed on change streams in my testing.

[2018-09-20 10:46] rwynn commented on #107
Views would also work as you mentioned in any place a namespace is required. But I think I needed to make one change to gtm since setting the cursor timeout to 0 only works for collections not views.

For the oplog changes you can code a Golang or JavaScript function to find the doc in the view corresponding to the doc that changed (insert/update) and return the doc from the view for indexing.

[2018-09-20 10:58] Crispy1975 commented on #107
I assume the new pipeline settings require MongoDB 3.6 so the change streams API is available?

[2018-09-20 11:00] Crispy1975 commented on #107
We now use a Golang plugin over the Javascript scripts we had before to do ETL, so that could be a reasonable place to get the view doc and return.

[2018-09-20 11:05] rwynn commented on #107
I think you could possibly use the pipeline for the direct reads only pre 3.6. You only need 3.6 for the new change-stream-namespaces option.

The pipeline for direct reads just uses the aggregation framework which is older than change streams.

[2018-09-20 11:10] rwynn commented on #107
If you use the Golang plugin you halve access to the mgo session in the Map function. The Map function will be sent docs from the view directly in the case of direct reads or from the underlying collection in the case source was oplog.

In oplog case the namespace will be to the underlying collection. In this case use mgo session to find in the view, and return from view instead.

[2018-09-20 11:42] Crispy1975 commented on #107
That seems like a pretty good interim solution, we're on MongoDB 3.4 right now, so using the Golang plugin will probably give us the most immediate results. I will play with this a little today and see what I can get work (plus look at the pipeline stuff). :-)

[2018-09-20 12:16] rwynn commented on #107
Just made this change in gtm to hopefully allow you to use views in your `direct-read-namespaces` setting.

https://github.com/rwynn/gtm/commit/c21f986c933a5e23b3ccc1ed1c1ffa00b48e5a04

Obviously, you'll need to rebuild monstache with this update.  Good luck.